<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <!-- form start -->
                <form novalidate autocomplete="off" #form="ngForm" (submit)="onSubmit(form)">
                    <!-- general form elements -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-sm-10">
                                    <h3 class="card-title">Society Info</h3>
                                </div>
                                <div class="col-sm-1">
                                    <button class="btn btn-success   btn-block" type="submit" [disabled]="form.invalid"><i class="fa fa-save"></i>&nbsp; Save</button>
                                </div>
                                <div class="col-sm-1">
                                    <button class="btn btn-danger  btn-block" type="button" (click)="resetForm(form)"><i class="fa fa-undo"></i>&nbsp; Reset</button>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <input type="hidden" name="id" [value]="masterService.societyFormData.id" />
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-2">
                                        <label>Society Name</label>
                                        <span style="color:red;">*</span>
                                    </div>
                                    <div class="col-md-3">
                                        <input class="form-control" maxlength="100" placeholder="Society Name" name="societyName" #societyName="ngModel" [(ngModel)]="masterService.societyFormData.societyName" required [class.invalid]="societyName.invalid && societyName.touched">
                                    </div>
                                    <div class="col-md-2">
                                        <label>Status</label>
                                        <span style="color:red;">*</span>
                                    </div>
                                    <div class="col-md-3">
                                        <select name="" id="" class="form-control " name="status" #status="ngModel" [(ngModel)]="masterService.societyFormData.status" required [class.invalid]="status.invalid && status.touched">
                                          <option [ngValue]="null">Select Status</option>
                                          <option value="Active">Active</option>
                                        <option value="Inactive">Inactive</option>
                                      </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-2">
                                        <label>No of Member</label>
                                        <span style="color:red;">*</span></div>
                                    <div class="col-md-8">
                                        <input class="form-control " placeholder="Number of Member" name="noOfMember" #noOfMember="ngModel" [(ngModel)]="masterService.societyFormData.noOfMember" required [class.invalid]="noOfMember.invalid && noOfMember.touched" [pattern]="numberPattern">
                                        <div class="invalid-feedback" *ngIf="noOfMember.errors?.pattern">Only numeric value</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-2">
                                        <label>Society Address</label>
                                        <span style="color:red;">*</span>
                                    </div>
                                    <div class="col-md-8">
                                        <textarea class="form-control" maxlength="500" placeholder="Address" name="societyAddress" #societyAddress="ngModel" [(ngModel)]="masterService.societyFormData.societyAddress" required [class.invalid]="societyAddress.invalid && societyAddress.touched"></textarea>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-2">
                                    </div>
                                    <div class="col-md-6">
                                        <input name="filterText" class="form-control m-input Searchbox" type="text" [(ngModel)]="searchText" placeholder="Search..">
                                    </div>
                                    <div class="col-md-3">
                                        <button class="btn btn-danger" type="button" (click)="resetSearch()"><i class="fa fa-undo"></i>&nbsp; Reset</button>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <table class="table table-bordered">
                                    <thead style="background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #28b9da), color-stop(1, #f9fafc));">
                                        <tr class="HeaderRow">
                                            <td>Society Name</td>
                                            <td>Address</td>
                                            <td>No of Member</td>
                                            <td></td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let sc of societyinfo | paginate: config | filter: searchText">
                                            <td>
                                                {{sc.societyName}}
                                            </td>
                                            <td>
                                                {{sc.societyAddress}}
                                            </td>
                                            <td>
                                                {{sc.noOfMember}}
                                            </td>
                                            <td>
                                                <button class="btn btn-info  btn-block" type="button" (click)="populateForm(sc)"><i class="fa fa-pen"></i>&nbsp; Edit</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <pagination-controls (pageChange)="onPageChanged($event)" class="my-pagination"></pagination-controls>
                            </div>
                            <!-- <div class="card-footer">
                              Sample Demo by rijsat.com
                          </div> -->
                        </div>
                        <!-- /.card -->
                    </div>
                </form>
            </div>
            <!-- /.row -->
        </div>
    </div>
    <!-- /.container-fluid -->
</section>