<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1></h1>
      </div>
      <div class="col-sm-6">
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</section>
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <!-- form start -->
        <!-- <form novalidate autocomplete="off"> -->
        <form [formGroup]="investmentSearchForm">
          <!-- general form elements -->
          <div class="card card-primary">
            <div class="card-header">
              <div class="row">
                <div class="col-sm-6">
                  <h3 class="card-title">Investment Reports</h3>
                </div>
                <!-- <div class="col-sm-3">
                  <button class="btn btn-success btn-lg btn-block" type="button" click="(getDocSocInvestReport())"><i
                      class="fa fa-save"></i>&nbsp; View Report</button>
                </div>
                <div class="col-sm-3">
                  <button class="btn btn-info btn-lg btn-block"><i class="fa fa-search"></i>Reset</button>
                </div> -->
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <input type="hidden" name="id" [value]="" />
              <div class="form-group">
              </div>

              <fieldset>
                <div class="form-group">
                  <div class="row">

                    <div class="col-md-6">
                      <table class="table table-bordered">
                        <tr>
                          <td>Report Name</td>
                          <td>Select</td>
                        </tr>
                        <tr>
                          <td>
                            Institution/Society/BCDS wise Investment
                          </td>
                          <td>
                            <button class="btn btn-success btn-block" type="button" (click)="getDocSocInvestReport()"><i
                                class="fa fa-arrow"></i>&nbsp; View Report</button>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            Doctor wise Leadership analysis
                          </td>
                          <td>
                            <button class="btn btn-success btn-block" type="button"><i class="fa fa-arrow"></i>&nbsp;
                              View Report</button>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            Invested Doctor potentiality Analysis as per Transaction
                          </td>
                          <td>
                            <button class="btn btn-success btn-block" type="button"><i class="fa fa-arrow"></i>&nbsp;
                              View Report</button>
                          </td>
                        </tr>
                      </table>
                    </div>

                    <div class="col-md-6">
                      <div class="col-md-2">
                        <label>From Date</label>
                    </div>
                      <div class="col-md-6">
                        <input class="form-control" id="from-date" placeholder="From Date" formControlName="fromDate"
                          [bsValue]="bsValue" bsDatepicker [bsConfig]="bsConfig">
                      </div>
                      <div class="col-md-2">
                        <label>To Date</label>
                    </div>
                      <div class="col-md-6">
                        <input class="form-control" id="to-date" placeholder="To Date" formControlName="toDate"
                          [bsValue]="bsValue" bsDatepicker [bsConfig]="bsConfig">

                      </div>

                    </div>
                  </div>
                </div>
              </fieldset>
            </div>
            <!-- /.card -->
          </div>
        </form>
      </div>
      <!-- /.row -->
    </div>
  </div>
  <!-- /.container-fluid -->
</section>