
*.config
.vs/ShalimAhmed/config/applicationhost.config
.vs/ShalimAhmed/DesignTimeBuild/.dtbcache.v2
.vs/ShalimAhmed/v16/.suo
API/obj/Debug/netcoreapp3.1/API.assets.cache
API/obj/Debug/netcoreapp3.1/API.csproj.AssemblyReference.cache
API/wwwroot/main.js
API/wwwroot/main.js.map
API/wwwroot/polyfills.js
API/wwwroot/polyfills.js.map
API/wwwroot/runtime.js
API/wwwroot/styles.css
API/wwwroot/vendor.js
Core/obj/Debug/netstandard2.1/Core.assets.cache
Infrastructure/obj/Debug/netstandard2.1/Infrastructure.assets.cache
Infrastructure/obj/Debug/netstandard2.1/Infrastructure.csproj.AssemblyReference.cache
*.config
.vs/ShalimAhmed/DesignTimeBuild/.dtbcache.v2
.vs/ShalimAhmed/v16/.suo
API/obj/Debug/netcoreapp3.1/API.assets.cache
Core/obj/Debug/netstandard2.1/Core.assets.cache
*.cache
*.dll
*.pdb
.vs/ShalimAhmed/v16/.suo
API/bin/Debug/netcoreapp3.1/appsettings.Development.json
API/appsettings.Development.json
API/bin/Debug/netcoreapp3.1/appsettings.Development.json
API/appsettings.Development.json
API/appsettings.Development.json
API/bin/Debug/netcoreapp3.1/API.dll
API/bin/Debug/netcoreapp3.1/API.pdb
API/bin/Debug/netcoreapp3.1/appsettings.Development.json
API/obj/Debug/netcoreapp3.1/API.dll
API/obj/Debug/netcoreapp3.1/API.pdb
API/bin/Debug/netcoreapp3.1/appsettings.Development.json
API/bin/Debug/netcoreapp3.1/appsettings.Development.json
API/appsettings.Development.json
API/appsettings.Development.json
.vs/ShalimAhmed/DesignTimeBuild/.dtbcache.v2
.vs/ShalimAhmed/v16/.suo
API/bin/Debug/netcoreapp3.1/API.deps.json
API/bin/Debug/netcoreapp3.1/API.runtimeconfig.dev.json
API/obj/API.csproj.nuget.dgspec.json
API/obj/API.csproj.nuget.g.props
API/obj/Debug/netcoreapp3.1/API.assets.cache
API/obj/Debug/netcoreapp3.1/API.GeneratedMSBuildEditorConfig.editorconfig
API/obj/Debug/netcoreapp3.1/API.MvcApplicationPartsAssemblyInfo.cs
API/obj/project.assets.json
API/obj/project.nuget.cache
Core/obj/Core.csproj.nuget.dgspec.json
Core/obj/Core.csproj.nuget.g.props
Core/obj/Debug/netstandard2.1/Core.assets.cache
Core/obj/Debug/netstandard2.1/Core.GeneratedMSBuildEditorConfig.editorconfig
Core/obj/project.assets.json
Core/obj/project.nuget.cache
Infrastructure/obj/Debug/netstandard2.1/Infrastructure.assets.cache
Infrastructure/obj/Debug/netstandard2.1/Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
Infrastructure/obj/Infrastructure.csproj.nuget.dgspec.json
Infrastructure/obj/Infrastructure.csproj.nuget.g.props
Infrastructure/obj/project.assets.json
Infrastructure/obj/project.nuget.cache
