
*.config
.vs/ShalimAhmed/config/applicationhost.config
.vs/ShalimAhmed/DesignTimeBuild/.dtbcache.v2
.vs/ShalimAhmed/v16/.suo
API/obj/Debug/netcoreapp3.1/API.assets.cache
API/obj/Debug/netcoreapp3.1/API.csproj.AssemblyReference.cache
API/wwwroot/main.js
API/wwwroot/main.js.map
API/wwwroot/polyfills.js
API/wwwroot/polyfills.js.map
API/wwwroot/runtime.js
API/wwwroot/styles.css
API/wwwroot/vendor.js
Core/obj/Debug/netstandard2.1/Core.assets.cache
Infrastructure/obj/Debug/netstandard2.1/Infrastructure.assets.cache
Infrastructure/obj/Debug/netstandard2.1/Infrastructure.csproj.AssemblyReference.cache
*.config
.vs/ShalimAhmed/DesignTimeBuild/.dtbcache.v2
.vs/ShalimAhmed/v16/.suo
API/obj/Debug/netcoreapp3.1/API.assets.cache
Core/obj/Debug/netstandard2.1/Core.assets.cache
*.cache
*.v2
*.cache
API/appsettings.Development.json
API/appsettings.Development.json
API/appsettings.Development.json
