<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <!-- form start -->
                <form [formGroup]="medDispatchForm">
                    <!-- general form elements -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-sm-9">
                                    <h3 class="card-title">Investment Dispatch Status Report</h3>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body ">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-2">
                                        <label>From Date</label>
                                        <span style="color:red;">*</span>
                                    </div>
                                    <div class="col-md-3">
                                        <input class="form-control " id="fromDate" formControlName="fromDate" [bsValue]="bsValue" bsDatepicker [bsConfig]="bsConfig" required>
                                    </div>
                                    <div class="col-md-2">
                                        <label>To Date</label>
                                        <span style="color:red;">*</span>
                                    </div>
                                    <div class="col-md-3">
                                        <input class="form-control " id="toDate" formControlName="toDate" [bsValue]="bsValue" bsDatepicker [bsConfig]="bsConfig" required>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-2">
                                        <label>Donation Type</label>
                                    </div>
                                    <div class="col-md-3">
                                        <select class="form-control" id="donationId" formControlName="donationId">
                                            <option  [value]="0">All</option>
                                            <option *ngFor="let a of donations" [value]="a.id">{{a.donationTypeName}}</option>
                                        </select>
                                    </div>
                                    <div class="col-md-2">
                                        <label>Status</label>
                                    </div>
                                    <div class="col-md-3">
                                        <select class="form-control" id="disStatus" formControlName="disStatus">
                                            <option value="Pending">Pending</option>
                                            <option value="Completed">Completed</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-1">
                                        <button class="btn btn-info btn-lg btn-block" type="button" (click)="getPendingDispatch()"><i class="fa fa-eye"></i>&nbsp;View</button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                </div>
                            </div>
                            <table class="table  table-bordered">
                                <tr class="HeaderRow ">
                                    <td style="width: 0;display:none; ">Id</td>
                                    <td>Reference No</td>
                                    <td>Donation Type</td>
                                    <td>Proposed By</td>
                                    <td>Approved By</td>
                                    <td>Approved Date</td>
                                    <td>Market</td>
                                    <td>Payment Ref</td>
                                    <td>Payment Date</td>
                                    <td>Dispatch Amt</td>
                                    <td>Remarks</td>
                                </tr>
                                <tr *ngFor="let a of rptDepotLetter | filter: searchText ">
                                    <td style="display:none; ">{{a.id}}</td>
                                    <td>
                                        {{a.referenceNo}}
                                    </td>
                                    <td>
                                        {{a.donationTypeName}}
                                    </td>
                                    <td>
                                        {{a.employeeName}}
                                    </td>
                                    <td>
                                        {{a.approvedBy}}
                                    </td>
                                    <td>
                                        {{a.approvedDate | date:'dd/MM/yyyy'}}
                                    </td>
                                    <td>
                                        {{a.marketName}}
                                    </td>
                                    <td>
                                        {{a.paymentRefNo}}
                                    </td>
                                    <td>
                                        {{a.paymentDate | date:'dd/MM/yyyy'}}
                                    </td>
                                    <td>
                                        {{a.dispatchAmt | number:'2.1-2'}}
                                    </td>
                                    <td>
                                        {{a.remarks}}
                                    </td>

                                </tr>
                            </table>
                            <!-- <div class="card-footer ">
                          </div> -->
                        </div>
                        <!-- /.card -->
                    </div>
                </form>
            </div>
            <!-- /.row -->
        </div>
    </div>
    <!-- /.container-fluid -->
</section>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
    <p style="color: black">Please Wait. </p>
</ngx-spinner>