<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <!-- form start -->
                <form novalidate autocomplete="off"  #bgtsbuForm="ngForm" >
                    <!-- general form elements -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-sm-10">
                                    <h3 class="card-title">SBU Wise Yearly Budget</h3>
                                </div>
                                <div class="col-sm-1">
                                    <button class="btn btn-success btn-lg btn-block" type="submit" [disabled]="bgtsbuForm.invalid" (click)="confirmSubmission()"><i class="fa fa-save"></i>&nbsp; Save</button>
                                </div>
                                <!-- <div class="col-sm-2">
                                    <button class="btn btn-info btn-lg btn-block"><i class="fa fa-search"></i>Search</button>
                                </div> -->
                                <div class="col-sm-1">
                                    <button class="btn btn-danger btn-lg btn-block" type="button" ><i class="fa fa-undo"></i> Reset</button>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <input type="hidden" name="id" />
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-1">
                                        <label>Company Name</label>
                                    </div>
                                    <div class="col-md-2">
                                        <select class="form-control" name="company" id="compId" name="compId" required  [(ngModel)]="bugetSbuYearlyService.budgetSbuYearly.compId">
                                            <option  [ngValue]="0">Select Company</option>
                                            <option value="100">Square Pharmaceuticals Limited</option>
                                        </select>
                                    </div>
                                    <div class="col-md-2">
                                        <label>Year</label>
                                    </div>
                                    <div class="col-md-2">
                                        <input class="form-control" placeholder="Year" name="Year" [(ngModel)]="bugetSbuYearlyService.budgetSbuYearly.year"  readonly >
                                    </div>
                                    <div class="col-md-2">
                                        <label>Total Budget</label>
                                    </div>
                                    <div class="col-md-2">
                                        <input class="form-control " placeholder="Total Budget Amount" name="totalAmount"  [(ngModel)]="bugetSbuYearlyService.budgetSbuYearly.totalBudget" 
                                        readonly >
                                    </div>
                                   
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-1">
                                        <label>Dept. Name</label>
                                        <span style="color:red;">*</span> 
                                    </div>
                                    <div class="col-md-2">
                                        <select class="form-control" name="department" (change)="getYearlyBudget()" [(ngModel)]="bugetSbuYearlyService.budgetSbuYearly.deptId" >
                                            <option  [ngValue]="0">Select Department</option>
                                            <option value="1">Sales</option>
                                            <option value="2">PMD</option>
                                        </select>
                                    </div>
                                    <div class="col-md-2">
                                        <label>Remaining Budget</label>
                                    </div>
                                    <div class="col-md-2">
                                        <input class="form-control" placeholder="Remaining Budget Amount" name="remainingBudget" [(ngModel)]="bugetSbuYearlyService.budgetSbuYearly.remainingBudget" readonly>
                                    </div>
                                    <div class="col-md-2">
                                        <label>Remarks</label>
                                    </div>
                                    <div class="col-md-2">
                                        <input class="form-control" placeholder="Remarks" name="Remarks" [(ngModel)]="bugetSbuYearlyService.budgetSbuYearly.remarks">
                                    </div>
                                </div>
                              
                            </div>
                        
                            <br/>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-2">
                                    </div>
                                    <div class="col-md-6">
                                        <input name="filterText" class="form-control m-input Searchbox" type="text"  placeholder="Search..">
                                    </div>
                                    <div class="col-md-3">
                                        <button class="btn btn-danger" type="button" ><i class="fa fa-undo"></i>&nbsp; Reset</button>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <table class="table table-bordered">
                                    <tr class="HeaderRow">
                                        <td>SBU Name</td>
                                        <td>Budget Amount</td>
                                        <td>Expense</td>
                                        <td>Pipeline</td>
                                        <td>Remaining</td>
                                        <td>New Amount</td>
                              
                                    </tr>
                                    <tr *ngFor="let a of sbuDetails">
                                        <td>
                                          {{a.sbuName}}
                                        </td>
                                        <td>
                                            {{a.sbuAmount}}
                                        </td>
                                        <td>
                                            {{a.expense}}
                                        </td>
                                        <td>
                                            {{a.pipeLine}}
                                        </td>
                                        <td>
                                            {{a.remaining}}
                                        </td>
                                        <td>
                                            <input class="form-control ng-valid ng-touched ng-dirty" type="text" placeholder="New Amount" name="{{a.newAmount}}" #newAmount="ngModel" [(ngModel)]="a.newAmount">
                                        </td>
                                    </tr>
                                </table>
                    
                            </div>
                        </div>
                        <!-- /.card -->
                    </div>
                </form>
            </div>
            <!-- /.row -->
        </div>
    </div>
    <!-- /.container-fluid -->
</section>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
    <p style="color: black">Please Wait. </p>
</ngx-spinner>
<ng-template #submissionConfirmModal style="bottom: -50px;">
    <div class="modal-body text-center">
        <div>
            <h4>Do you want to save ?</h4><small>(N.B. Save Proposal Unchangeable!)</small>
        </div>
        <button type="button" class="btn btn-success" (click)="confirmSubmit()">Yes</button>
        <button type="button" class="btn btn-danger" (click)="declineSubmit()">No</button>
    </div>
</ng-template>