<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <!-- form start -->
                <form novalidate autocomplete="off" #bgtsbuForm="ngForm">
                    <!-- general form elements -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-sm-10">
                                    <h3 class="card-title">SBU Wise Yearly Budget</h3>
                                </div>
                                <div class="col-sm-1">
                                    <button class="btn btn-success btn-lg btn-block" type="submit" [disabled]="bgtsbuForm.invalid && bugetSbuYearlyService.budgetSbuYearly.year != this.yyyy" (click)="confirmSubmission()"><i class="fa fa-save"></i>&nbsp; Save</button>
                                </div>
                                <!-- <div class="col-sm-2">
                                    <button class="btn btn-info btn-lg btn-block"><i class="fa fa-search"></i>Search</button>
                                </div> -->
                                <div class="col-sm-1">
                                    <button class="btn btn-danger btn-lg btn-block" type="button"><i class="fa fa-undo"></i> Reset</button>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <input type="hidden" name="id" />
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-1">
                                        <label>Company Name</label>
                                    </div>
                                    <div class="col-md-2">
                                        <select class="form-control" name="company" id="compId" name="compId" required [(ngModel)]="bugetSbuYearlyService.budgetSbuYearly.compId" readonly>
                                            <option  [ngValue]="0">Select Company</option>
                                            <option value="1000">Square Pharmaceuticals Limited</option>
                                        </select>
                                    </div>
                                    <div class="col-md-2">
                                        <label>Year</label>
                                    </div>
                                    <div class="col-md-2">
                                        <input class="form-control" placeholder="Year" name="Year" [ngModelOptions]="{standalone: true}" id="year" name="year" (onHidden)="getYearlyBudget()" [bsValue]="bsValue" bsDatepicker [bsConfig]="{ minMode:'year', adaptivePosition: true, dateInputFormat: 'YYYY' }"
                                            (change)="getYearlyBudget()" [(ngModel)]="bugetSbuYearlyService.budgetSbuYearly.year">
                                    </div>
                                    <div class="col-md-2">
                                        <label>Total Budget</label>
                                    </div>
                                    <div class="col-md-2">
                                        <input class="form-control " placeholder="Total Budget Amount" name="totalAmount" [(ngModel)]="bugetSbuYearlyService.budgetSbuYearly.totalBudget" readonly>
                                    </div>

                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-1">
                                        <label>Dept. Name</label>
                                        <span style="color:red;">*</span>
                                    </div>
                                    <div class="col-md-2">
                                        <select class="form-control" name="deptId" #deptId="ngModel" (change)="getYearlyBudget()" required [(ngModel)]="bugetSbuYearlyService.budgetSbuYearly.deptId" [class.invalid]="deptId.invalid && deptId.touched">
                                            <option  [ngValue]="0">Select Department</option>
                                            <option value="1">Sales</option>
                                            <option value="2">PMD</option>
                                        </select>
                                    </div>
                                    <div class="col-md-2">
                                        <label>Remaining Budget</label>
                                    </div>
                                    <div class="col-md-2">
                                        <input class="form-control" placeholder="Remaining Budget Amount" name="remainingBudget" [(ngModel)]="bugetSbuYearlyService.budgetSbuYearly.remainingBudget" readonly>
                                    </div>
                                    <div class="col-md-2">
                                        <label>Remarks</label>
                                    </div>
                                    <div class="col-md-2">
                                        <input class="form-control" placeholder="Remarks" name="Remarks" [(ngModel)]="bugetSbuYearlyService.budgetSbuYearly.remarks">
                                    </div>
                                </div>

                            </div>

                            <br/>

                            <div class="form-group">
                                <table class="table table-bordered">
                                    <tr class="HeaderRow">
                                        <td>SBU Name</td>
                                        <td>Budget Amount</td>
                                        <td>No Of Layer</td>
                                        <td>Expense</td>
                                        <td>Total Allocated</td>
                                        <td>Pipeline</td>
                                        <td>Remaining</td>
                                        <td>New Amount (Yearly)</td>
                                        <td>Action</td>
                                        <td>Approval Authority Wise Budget Distribution</td>
                                    </tr>
                                    <tr *ngFor="let a of sbuDetails; let index = index">
                                        <td>
                                            {{a.sbuName}}
                                        </td>
                                        <td>
                                            {{a.sbuAmount | number: '1.0-0'}}
                                        </td>
                                        <td>
                                            5
                                        </td>
                                        <td>
                                            {{a.expense | number: '1.0-0'}}
                                        </td>
                                        <td>
                                            {{a.totalAlowcated | number: '1.0-0'}}
                                        </td>
                                        <td>
                                            {{a.pipeLine | number: '1.0-0'}}
                                        </td>

                                        <td>
                                            {{a.remaining | number: '1.0-0'}}
                                        </td>
                                        <td>
                                            <input class="form-control ng-valid ng-touched ng-dirty" type="text" placeholder="New Amount" name="{{a.newAmount}}" id="sbuDetails" name="sbuDetails{{index}}" #newAmount="ngModel" [(ngModel)]="sbuDetails[index].newAmount" [disabled]="bugetSbuYearlyService.budgetSbuYearly.year != this.yyyy">
                                        </td>
                                        <td>
                                            <button class="btn btn-success btn-lg btn-block" [disabled]="bugetSbuYearlyService.budgetSbuYearly.year != this.yyyy" (click)="UpdateSbuDetails(a.bgtSbuId,a.newAmount,a.expense)" [disabled]="bugetSbuYearlyService.budgetSbuYearly.year != this.yyyy || a.sbuAmount == 0"><i class="fa fa-save"></i>&nbsp; Update</button>
                                        </td>
                                        <td>
                                            <button class="btn btn-success btn-lg btn-block" [disabled]="bugetSbuYearlyService.budgetSbuYearly.year != this.yyyy" (click)="getApprovalAuth(a.sbuName,a.sbuCode,a.sbuAmount,a.expense)" style="width: 100px;"><i class="fa fa-save"></i>&nbsp; Distribution</button>
                                        </td>
                                    </tr>
                                </table>

                            </div>
                        </div>
                        <!-- /.card -->
                    </div>
                </form>
            </div>
            <!-- /.row -->
        </div>
    </div>
    <!-- /.container-fluid -->
</section>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
    <p style="color: black">Please Wait. </p>
</ngx-spinner>

<ng-template #authDetailsModal>
    <div class="modal-header" style="background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #28b9da), color-stop(1, #f9fafc));color: black;">
        <h4 class="modal-title pull-left">SBU Details</h4>

        <button type="button" class="close pull-right" aria-label="Close" (click)="AuthDetailsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>

    </div>
    <div class="modal-body" style="padding: 20px 30px 20px 30px;">
        <div class="row">
            <div class="col-md-12">

                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <h6>Sbu: {{SbuName}}</h6>
                            <h6>Total Budget: {{sbuIndividualAmount | number: '1.0-0'}}</h6>
                            <h6>Allocated Budget: {{allowcatedBudget | number: '1.0-0'}}</h6>
                            <h6>Total Expense: {{expense | number: '1.0-0'}}</h6>
                            <h6>Remaining Budget: {{sbuIndividualAmount -(allowcatedBudget+expense) | number: '1.0-0'}}</h6>
                        </div>
                        <div class="col-md-2" style="float:right; margin-bottom: 10px;">
                            <button class="btn btn-success btn-lg btn-block" (click)="saveAuthSbuDetails()"><i class="fa fa-save"></i>&nbsp; Save</button>
                        </div>
                        <div class="table-responsive" style="border: 1px solid #bed2c9; width: 100%;">
                            <table class="table table-bordered table-responsive table-hover table-striped">
                                <thead style="background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #28b9da), color-stop(1, #f9fafc));">
                                    <tr class="HeaderRow">
                                        <th scope="col" style="width: 1%">Layer</th>
                                        <th scope="col" style="width: 1%;">Approval Auth</th>
                                        <th scope="col" style="width: 1%">Total Person</th>
                                        <th scope="col" style="width: 3%">Total Amount (yearly)</th>
                                        <th scope="col" style="width: 3%">Expense</th>
                                        <th scope="col" style="width: 3%">Remaining</th>
                                        <th scope="col" style="width: 4%">New Amount</th>
                                        <th scope="col" style="width: 1%">Can View</th>
                                        <th scope="col" style="width: 1%">Can Edit</th>
                                        <th scope="col" style="width: 4%">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- <tr *ngFor="let a of investmentInits | paginate: configs | filter: searchText"> -->
                                    <tr *ngFor="let a of approvalAuthDetails  | filter: searchText">
                                        <td>
                                            {{a.priority}}
                                        </td>
                                        <td>{{a.authority}}</td>
                                        <td>{{a.noOfEmployee}}</td>
                                        <td>{{a.amount | number: '1.0-0'}}</td>
                                        <td>{{a.expense | number: '1.0-0'}}</td>
                                        <td>{{a.amount - a.expense | number: '1.0-0'}}</td>
                                        <td>
                                            <input class="form-control ng-valid ng-touched ng-dirty" type="text" placeholder="New Amount" id="sbuDetails" name="a.newAmount" #newAmount="ngModel" [(ngModel)]="a.newAmount">
                                        </td>
                                        <td>
                                            <input type="checkbox" id="canEdit" [(ngModel)]="a.permView" />
                                        </td>
                                        <td>
                                            <input type="checkbox" id="canView" [(ngModel)]="a.permEdit" />
                                        </td>
                                        <td>
                                            <button class="btn btn-success btn-lg btn-block" [disabled]="bugetSbuYearlyService.budgetSbuYearly.year != this.yyyy || a.amount == 0" (click)="UpdateAppAuthDetails(a.id,a.newAmount,a.expense,a.permView,a.permEdit)"><i class="fa fa-save"></i>&nbsp; Update</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <!-- <pagination-controls (pageChange)="onPageChanged($event)" class="my-pagination"></pagination-controls> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #submissionConfirmModal style="bottom: -50px;">
    <div class="modal-body text-center">
        <div>
            <h4>Do you want to save ?</h4><small>(N.B. Save Proposal Unchangeable!)</small>
        </div>
        <button type="button" class="btn btn-success" (click)="confirmSubmit()">Yes</button>
        <button type="button" class="btn btn-danger" (click)="declineSubmit()">No</button>
    </div>
</ng-template>