<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <form novalidate autocomplete="off">
                    <div class="card card-primary">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-sm-6">
                                    <h3 class="card-title">Registration Approval</h3>
                                </div>
                                <div class="col-sm-3">
                                    <button class="btn btn-success btn-lg btn-block" type="submit"><i class="fa fa-save"></i>&nbsp; Save</button>
                                </div>
                                <div class="col-sm-3">
                                    <button class="btn btn-info btn-lg btn-block"><i class="fa fa-search"></i>Search</button>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-2">
                                        <label>Employee Id</label>
                                    </div>
                                    <div class="col-md-3">
                                        <input class="form-control " placeholder="Please Double Click Here" name="employeeId" required>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-2">
                                        <label>Employee Name</label>
                                    </div>
                                    <div class="col-md-3">
                                        <input class="form-control " name="employeeName" readonly>
                                    </div>
                                    <div class="col-md-2">
                                        <label>Designation</label>
                                    </div>
                                    <div class="col-md-3">
                                        <input class="form-control" name="designation" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-2">
                                        <label>Department</label>
                                    </div>
                                    <div class="col-md-3">
                                        <input class="form-control " name="department" readonly>
                                    </div>
                                    <div class="col-md-2">
                                        <label>Company</label>
                                    </div>
                                    <div class="col-md-3">
                                        <input class="form-control" name="company" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-2">
                                        <label>Joining Date</label>
                                    </div>
                                    <div class="col-md-3">
                                        <input class="form-control " name="joinningDate" readonly>
                                    </div>
                                    <div class="col-md-2">
                                        <label>Joining Place</label>
                                    </div>
                                    <div class="col-md-3">
                                        <input class="form-control" name="joininigPlace" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-2">
                                        <label>Phone</label>
                                    </div>
                                    <div class="col-md-3">
                                        <input class="form-control " name="phone" readonly>
                                    </div>
                                    <div class="col-md-2">
                                        <label>Email</label>
                                    </div>
                                    <div class="col-md-3">
                                        <input class="form-control" name="email" readonly>
                                    </div>
                                </div>
                            </div>
                            <fieldset>
                                <legend>Targeted Market</legend>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <label>Market</label>
                                        </div>
                                        <div class="col-md-3">
                                            <input class="form-control " name="market" readonly>
                                        </div>
                                        <div class="col-md-2">
                                            <label>Territory</label>
                                        </div>
                                        <div class="col-md-3">
                                            <input class="form-control" name="territory" readonly>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <label>Region</label>
                                        </div>
                                        <div class="col-md-3">
                                            <input class="form-control " name="region" readonly>
                                        </div>
                                        <div class="col-md-2">
                                            <label>Division</label>
                                        </div>
                                        <div class="col-md-3">
                                            <input class="form-control" name="division" readonly>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <label>Zone</label>
                                        </div>
                                        <div class="col-md-3">
                                            <input class="form-control " name="zone" readonly>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <br>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-2">
                                        <label>Approval Status</label>
                                    </div>
                                    <div class="col-md-3">
                                        <select class="form-control " name="approvalStatus">
                                            <option value="Approved">Approved</option>
                                            <option value="NotApproved">Not Approved</option>
                                        </select>
                                    </div>
                                    <div class="col-md-2">
                                        <label>Approval Date</label>
                                    </div>
                                    <div class="col-md-3">
                                        <input class="form-control" name="approvalDate" readonly>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>