<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <!-- <form novalidate autocomplete="off"> -->
                <form novalidate autocomplete="off" #regApprovalForm="ngForm" (submit)="onSubmit(regApprovalForm)">
                    <div class="card card-primary">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-sm-6">
                                    <h3 class="card-title">Registration Approval</h3>
                                </div>
                                <div class="col-sm-2">
                                    <button class="btn btn-success btn-lg btn-block" [disabled]="regApprovalForm.invalid" type="submit"><i class="fa fa-save"></i>&nbsp; Save</button>
                                </div>
                                <div class="col-sm-2">
                                    <button class="btn btn-info btn-lg btn-block" type="button" (click)="getRegApproved()"><i class="fa fa-search"></i>Search</button>
                                </div>
                                <div class="col-sm-2">
                                    <button class="btn btn-danger  btn-block" type="button" (click)="resetForm(regApprovalForm)"><i class="fa fa-undo"></i>&nbsp; Reset</button>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-2">
                                        <label>Employee Id</label>
                                        <span style="color:red;">*</span>
                                    </div>
                                    <div class="col-md-3">
                                        <input class="form-control " (dblclick)="getEmployeeFormApproval()" placeholder="Please Double Click Here" id="employeeId" name="employeeId" #employeeId="ngModel" [(ngModel)]="regApprovalService.regApprovalFormData.employeeId" required [class.invalid]="employeeId.invalid && employeeId.touched">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-2">
                                        <label>Employee Name</label>
                                    </div>
                                    <div class="col-md-3">
                                        <input class="form-control " id="employeeName" name="employeeName" #employeeName="ngModel" [(ngModel)]="regApprovalService.regApprovalFormData.employeeName" readonly>
                                    </div>
                                    <div class="col-md-2">
                                        <label>Designation</label>
                                    </div>
                                    <div class="col-md-3">
                                        <input class="form-control" name="designationName" name="designationName" #designationName="ngModel" [(ngModel)]="regApprovalService.regApprovalFormData.designationName" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-2">
                                        <label>Department</label>
                                    </div>
                                    <div class="col-md-3">
                                        <input class="form-control " id="departmentName" name="departmentName" #departmentName="ngModel" [(ngModel)]="regApprovalService.regApprovalFormData.departmentName" readonly>
                                    </div>

                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-2">
                                        <label>Phone</label>
                                    </div>
                                    <div class="col-md-3">
                                        <input class="form-control " id="phone" name="phone" #phone="ngModel" [(ngModel)]="regApprovalService.regApprovalFormData.phone" readonly>
                                    </div>
                                    <div class="col-md-2">
                                        <label>Email</label>
                                    </div>
                                    <div class="col-md-3">
                                        <input class="form-control" id="email" name="email" #email="ngModel" [(ngModel)]="regApprovalService.regApprovalFormData.email" readonly>
                                    </div>
                                </div>
                            </div>
                            <fieldset>
                                <legend> Location Info</legend>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <label>Market</label>
                                        </div>
                                        <div class="col-md-3">
                                            <input class="form-control " id="marketName" name="marketName" #marketName="ngModel" [(ngModel)]="regApprovalService.regApprovalFormData.marketName" readonly>
                                        </div>
                                        <div class="col-md-2">
                                            <label>Territory</label>
                                        </div>
                                        <div class="col-md-3">
                                            <input class="form-control" id="territoryName" name="territoryName" #territoryName="ngModel" [(ngModel)]="regApprovalService.regApprovalFormData.territoryName" readonly>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <label>Region</label>
                                        </div>
                                        <div class="col-md-3">
                                            <input class="form-control " id="regionName" name="regionName" #regionName="ngModel" [(ngModel)]="regApprovalService.regApprovalFormData.regionName" readonly>
                                        </div>
                                        <!-- <div class="col-md-2">
                                            <label>Division</label>
                                        </div>
                                        <div class="col-md-3">
                                            <input class="form-control" id="divisionName" name="divisionName" #divisionName="ngModel" [(ngModel)]="regApprovalService.regApprovalFormData.divisionName" readonly>
                                        </div> -->
                                        <div class="col-md-2">
                                            <label>SBU</label>
                                        </div>
                                        <div class="col-md-3">
                                            <input class="form-control" id="sbuName" name="sbuName" #sbuName="ngModel" [(ngModel)]="regApprovalService.regApprovalFormData.sbuName" readonly>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <label>Zone</label>
                                        </div>
                                        <div class="col-md-3">
                                            <input class="form-control " id="zoneName" name="zoneName" #zoneName="ngModel" [(ngModel)]="regApprovalService.regApprovalFormData.zoneName" readonly>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <br>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-2">
                                        <label>Approval Status</label>
                                        <span style="color:red;">*</span>
                                    </div>
                                    <div class="col-md-3">
                                        <select class="form-control " id="approvalStatus" name="approvalStatus" #approvalStatus="ngModel" [(ngModel)]="regApprovalService.regApprovalFormData.approvalStatus" required [class.invalid]="approvalStatus.invalid && approvalStatus.touched">
                                            <option [ngValue]="null">Select Approval Status</option>
                                            <option value="Approved">Approved</option>
                                            <option value="Not Approved">Not Approved</option>
                                        </select>
                                    </div>
                                    <div class="col-md-2">
                                        <label>Role</label>
                                        <span style="color:red;">*</span>
                                    </div>
                                    <div class="col-md-3">
                                        <select class="form-control " id="role" name="role" #role="ngModel" [(ngModel)]="regApprovalService.regApprovalFormData.role" required [class.invalid]="role.invalid && role.touched">
                                            <option  [ngValue]="null">Select Role</option>
                                                <option *ngFor="let a of roleList" [value]="a.name">{{a.name}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<ng-template #regApprovalSearchModal>
    <div class="modal-header" style="background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #289e68), color-stop(1, #f9fafc));color: black;">
        <h4 class="modal-title pull-left">Employee Information</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="RegApprovalSearchModalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body" style="padding: 20px 30px 20px 30px;">
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive" style="border: 1px solid #bed2c9; width: 100%;">
                    <table class="table table-bordered table-responsive table-hover table-striped">
                        <thead style="background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #289e68), color-stop(1, #f9fafc));">
                            <tr>
                                <th scope="col" style="width: 7%">Action</th>
                                <th scope="col" style="width: 4;">Employee Id</th>
                                <th scope="col" style="width: 9%">Employee Name</th>
                                <th scope="col" style="width: 8%">Department Name</th>
                                <th scope="col" style="width: 8%">Designation Name</th>
                                <th scope="col" style="width: 8%">Phone</th>
                                <th scope="col" style="width: 8%">Email</th>
                                <th scope="col" style="width: 8%">Approved Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let a of regApprovals">
                                <td>
                                    <button class="btn btn-sm btn-embossed btn-success" (click)="selectRegApproval(a)">Select</button>

                                </td>
                                <td>{{a.employeeId}}</td>
                                <td>{{a.employeeName}}</td>
                                <td>{{a.departmentName}}</td>
                                <td>{{a.designationName}}</td>
                                <td>{{a.phone}}</td>
                                <td>{{a.email}}</td>
                                <td>{{a.approvalStatus}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</ng-template>