<!-- <section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1></h1>
            </div>
            <div class="col-sm-6">
            </div>
        </div>
    </div>
</section> -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <form novalidate autocomplete="off" #form="ngForm" (submit)="onSubmit(form)">
                    <div class="card card-primary">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-sm-8">
                                    <h3 class="card-title">Menu Configuration</h3>
                                </div>
                                <div class="col-sm-2">
                                    <button class="btn btn-info  btn-block" type="submit" [disabled]="form.invalid"><i class="fa fa-save"></i>&nbsp; Save</button>
                                </div>
                                <div class="col-sm-2">
                                    <button class="btn btn-danger  btn-block" type="button" (click)="resetForm(form)"><i class="fa fa-undo"></i>&nbsp; Reset</button>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <input type="hidden" name="id" [value]="menuConfigService.menuConfigFormData.id" />
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-2">
                                        <label>Role</label>
                                        <span style="color:red;">*</span>
                                    </div>
                                    <div class="col-md-3">
                                        <ng-select [virtualScroll]="true" [items]="roleList" bindLabel="name" bindValue="id" placeholder="Select Role" id="roleId" name="roleId" #roleId="ngModel" [(ngModel)]="menuConfigService.menuConfigFormData.roleId">
                                        </ng-select>
                                    </div>

                                    <div class="col-md-2">
                                        <label>Menu Head</label>
                                        <span style="color:red;">*</span>
                                    </div>
                                    <div class="col-md-3">
                                        <ng-select [virtualScroll]="true" [items]="menuHeads" bindLabel="menuHeadName" bindValue="id" placeholder="Select Menu Head" (change)="getSubMenu()" id="menuHeadId" name="menuHeadId" #menuHeadId="ngModel" [(ngModel)]="menuConfigService.menuConfigFormData.menuHeadId">
                                        </ng-select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-2">
                                        <label>Sub Menu</label>
                                        <span style="color:red;">*</span>
                                    </div>
                                    <div class="col-md-3">
                                        <ng-select [virtualScroll]="true" [items]="subMenus" bindLabel="subMenuName" bindValue="id" placeholder="Select sub Menu" id="subMenuId" name="subMenuId" #subMenuId="ngModel" [(ngModel)]="menuConfigService.menuConfigFormData.subMenuId">
                                        </ng-select>

                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <table class="table">
                                    <tr>
                                        <td>Role Name</td>
                                        <td>Menu Name</td>
                                        <td>Sub Menu </td>

                                    </tr>
                                    <tr *ngFor="let a of menuConfigs">
                                        <td>
                                            {{a.roleName}}
                                        </td>
                                        <td>
                                            {{a.menuHeadName}}
                                        </td>
                                        <td>
                                            {{a.subMenuName}}
                                        </td>
                                        <td>
                                            <button class="btn btn-info  btn-block" type="button" (click)="populateForm(a)"><i class="fa fa-pen"></i>&nbsp; Edit</button>
                                        </td>
                                        <td>
                                            <button class="btn btn-danger  btn-block" type="button" (click)="remove(a)"><i class="fa fa-trash"></i>&nbsp; Remove</button>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>