<!-- Content Header (Page header) -->
<!-- <section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>General Form</h1>
            </div>
             <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">General Form</li>
                </ol>
            </div>
        </div>
    </div>
</section> -->
<!-- AdminLTE App -->
<script src="/assets/adminlte/dist/js/adminlte.min.js"></script>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h4 class="">Welcome To DIDS</h4>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->


                </div>
                <!-- /.card -->


                <div class="container-fluid">
                    <!-- Small boxes (Stat box) -->
                    <div class="row">
                        <div class="col-lg-4 col-6">
                            <!-- small box -->
                            <div class="small-box bg-info">
                                <div class="inner">
                                    <!-- <a (click)="getApproveDetail()"> -->
                                    <h3 style="text-align: center; color: white;">{{totalApproved}}</h3>
                                    <!-- </a> -->
                                    <p style="text-align: center; font-weight: bold;">Total Approved</p>
                                </div>
                                <!-- <a (click)="getApproveDetail()">-->
                                <a>
                                    <div class="icon">
                                        <i class="fa fa-folder"></i>
                                    </div>
                                </a>
                                <!-- <a (click)="getApproveDetail()" class="small-box-footer">Click for Details <i class="fas fa-arrow-circle-right"></i></a> -->

                            </div>
                        </div>
                        <!-- ./col -->
                        <div class="col-lg-4 col-6">
                            <!-- small box -->
                            <div class="small-box bg-danger">
                                <div class="inner">
                                    <!-- <a> -->
                                    <h3 style="text-align: center; color: white;">{{myPending}}</h3>
                                    <!-- </a> -->
                                    <p style="text-align: center; font-weight: bold;">My Pending</p>
                                </div>
                                <a>
                                    <div class="icon">
                                        <i class="fa fa-folder-open"></i>
                                    </div>
                                </a>
                                <!-- <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a> -->
                            </div>
                        </div>
                        <!-- <div class="col-lg-4 col-6">
                            <div class="small-box bg-warning" *ngif="userRole=='Administrator'">
                                <div class="inner">
                                    <a (click)="getPendingDetail()">
                                        <h3 style="text-align: center; color: white;">{{aprPending}}</h3>
                                    </a>
                                    <p style="text-align: center; font-weight: bold; color: white;">Approval Pending</p>
                                </div>
                                <a (click)="getPendingDetail()">
                                    <div class="icon">
                                        <i class="fa fa-folder"></i>
                                    </div>
                                </a>
                                <a (click)="getApproveDetail()" class="small-box-footer">Click for Details <i class="fas fa-arrow-circle-right"></i></a>

                    </div>
                </div> -->
                        <!-- <div class="col-lg-3 col-6">
                            <div class="small-box bg-warning">
                                <div class="inner">
                                    <h3>44</h3>

                                    <p>User Registrations</p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-person-add"></i>
                                </div>
                                <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                        <div class="col-lg-3 col-6">
                            <div class="small-box bg-danger">
                                <div class="inner">
                                    <h3>65</h3>

                                    <p>Unique Visitors</p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-pie-graph"></i>
                                </div>
                                <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                            </div>
                        </div> -->
                        <!-- ./col -->
                    </div>
                    <!-- /.row -->
                    <!-- /.row (main row) -->
                </div>
                <!-- /.container-fluid -->


            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>