<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1></h1>
      </div>
      <div class="col-sm-6">
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</section>
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <!-- form start -->
        <form novalidate autocomplete="off">
          <!-- general form elements -->
          <div class="card card-primary">
            <div class="card-header">
              <div class="row">
                <div class="col-sm-6">
                  <h3 class="card-title">User Registration</h3>
                </div>
                <div class="col-sm-3">
                  <button class="btn btn-success btn-lg btn-block" type="submit"><i class="fa fa-save"></i>&nbsp; Save</button>
              </div>
              <div class="col-sm-3">
                  <button class="btn btn-info btn-lg btn-block"><i class="fa fa-search"></i>Search</button>
              </div>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <input type="hidden" name="id"/>
              <div class="form-group">
              </div>

              <fieldset>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-2">
                    <label>Employee ID</label>
                  </div>
                  <div class="col-md-3">
                    <input class="form-control" placeholder="" name="empid" required>
                  </div>
                  <div class="col-sm-3">
                    <button class="btn btn-warning btn-block"><i class="fa fa-folder-open"></i>&nbsp; Validate</button>
                </div>
                </div>
              </div>


              <div class="form-group">
                <div class="row">
                  <div class="col-md-2">
                    <label>Employee Name</label>
                  </div>
                  <div class="col-md-3">
                    <input class="form-control" placeholder="" name="empname"  readonly>
                  </div>
                  <div class="col-md-2">
                    <label>Designation</label>
                  </div>
                  <div class="col-md-3">
                    <input class="form-control" placeholder="" name="designation"  readonly>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="row">
                  <div class="col-md-2">
                    <label>Department</label>
                  </div>
                  <div class="col-md-3">
                    <input class="form-control" placeholder="" name="department"  readonly>
                  </div>
                  <div class="col-md-2">
                    <label>Company</label>
                  </div>
                  <div class="col-md-3">
                    <input class="form-control" placeholder="" name="company" readonly>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="row">
                  <div class="col-md-2">
                    <label>Joining Date</label>
                  </div>
                  <div class="col-md-3">
                    <input class="form-control" placeholder="" name="joiningdate" readonly>
                  </div>
                  <div class="col-md-2">
                    <label>Joining Place</label>
                  </div>
                  <div class="col-md-3">
                    <input class="form-control" placeholder="" name="joiningplace" readonly>
                  </div>
                </div>
              </div>
        
              <div class="form-group">
                <div class="row">
                  <div class="col-md-2">
                    <label>Email</label>
                  </div>
                  <div class="col-md-3">
                    <input class="form-control" placeholder="" name="email" readonly>
                  </div>
                  <div class="col-md-2">
                    <label>Phone</label>
                  </div>
                  <div class="col-md-3">
                    <input class="form-control" placeholder="" name="phone" readonly>
                  </div>
                </div>
              </div>
            </fieldset>
            <br/>
          <fieldset>


              
              <div class="form-group">
                <div class="row">
                  <div class="col-md-2">
                    <label>Username</label>
                  </div>
                  <div class="col-md-2">
                    <input class="form-control" placeholder="" name="username" required>
                  </div>
                  <div class="col-md-2">
                    <label>Password</label>
                  </div>
                  <div class="col-md-2">
                    <input class="form-control" placeholder="" name="password" required>
                  </div>
                  <div class="col-md-2">
                    <label>Confirm Password</label>
                  </div>
                  <div class="col-md-2">
                    <input class="form-control" placeholder="" name="repassword" required>
                  </div>
                </div>
              </div>
            </fieldset>
              </div>

            <!-- /.card -->
          </div>
        </form>
      </div>
      <!-- /.row -->
    </div>
  </div>
  <!-- /.container-fluid -->
</section>