<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <form novalidate autocomplete="off" #form="ngForm" (submit)="onSubmit(form)">
                    <div class="card card-primary">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-sm-8">
                                    <h3 class="card-title">Approval Authority</h3>
                                </div>
                                <div class="col-sm-2">
                                    <button class="btn btn-success  btn-block" type="submit" [disabled]="form.invalid"><i class="fa fa-save"></i>&nbsp; Save</button>
                                </div>
                                <div class="col-sm-2">
                                    <button class="btn btn-danger  btn-block" type="button" (click)="resetForm(form)"><i class="fa fa-undo"></i>&nbsp; Reset</button>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <input type="hidden" name="id" [value]="masterService.approvalAuthorityFormData.id" />
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-2">
                                        <label>Authority Name</label>
                                        <span style="color:red;">*</span>
                                    </div>
                                    <div class="col-md-3">
                                        <input class="form-control" maxlength="50" placeholder="Name" name="approvalAuthorityName" #approvalAuthorityName="ngModel" [(ngModel)]="masterService.approvalAuthorityFormData.approvalAuthorityName" required [class.invalid]="approvalAuthorityName.invalid && approvalAuthorityName.touched">
                                    </div>
                                    <div class="col-md-2">
                                        <label>Status</label>
                                        <span style="color:red;">*</span>
                                    </div>
                                    <div class="col-md-3">
                                        <select id="" class="form-control " name="status" #status="ngModel" [(ngModel)]="masterService.approvalAuthorityFormData.status" required [class.invalid]="status.invalid && status.touched">
                                        <option [ngValue]="null">Select Status</option>
                                          <option value="Active">Active</option>
                                          <option value="Inactive">Inactive</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-2">
                                        <label>Company Name</label>
                                    </div>
                                    <div class="col-md-3">
                                        <select class="form-control" name="company" id="compId" name="compId" required [(ngModel)]="masterService.approvalAuthorityFormData.compId" readonly>
                                        <option  [ngValue]="0">Select Company</option>
                                        <option value="1000">Square Pharmaceuticals Limited</option>
                                    </select>
                                    </div>
                                    <div class="col-md-2">
                                        <label>Dept. Name</label>
                                    </div>
                                    <div class="col-md-3">
                                        <select class="form-control" name="deptId" id="deptId" required [(ngModel)]="masterService.approvalAuthorityFormData.deptId">
                                        <!-- <option  [ngValue]="0">Select Department</option> -->
                                        <option value="1">Sales</option>
                                        <option value="2">PMD</option>
                                    </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-2">
                                        <label>Priority</label>
                                        <span style="color:red;">*</span>
                                    </div>
                                    <div class="col-md-3">
                                        <select id="" class="form-control " name="priority" #priority="ngModel" [(ngModel)]="masterService.approvalAuthorityFormData.priority" required [class.invalid]="priority.invalid && priority.touched">
                                            <option [ngValue]="null">Select Priority</option>
                                            <option *ngFor="let priority of priorities" [value]="priority">{{priority}}</option>
                                        </select>
                                    </div>
                                    <div class="col-md-2">
                                        <label>Remarks</label></div>
                                    <div class="col-md-3">
                                        <textarea class="form-control" maxlength="500" rows="1" placeholder="Remarks" name="remarks" #remarks="ngModel" [(ngModel)]="masterService.approvalAuthorityFormData.remarks" [class.invalid]="remarks.invalid && remarks.touched"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-2">
                                    </div>
                                    <div class="col-md-6">
                                        <input name="filterText" class="form-control m-input Searchbox" type="text" [(ngModel)]="searchText" placeholder="Search..">
                                    </div>
                                    <div class="col-md-3">
                                        <button class="btn btn-danger" type="button" (click)="resetSearch()"><i class="fa fa-undo"></i>&nbsp; Reset</button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <table class="table">
                                    <thead style="background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #28b9da), color-stop(1, #f9fafc));">
                                        <tr class="HeaderRow">
                                            <td>Authority Name</td>
                                            <td>Company</td>
                                            <td>Department</td>
                                            <td>Priority</td>
                                            <td>Status</td>
                                            <td>Remarks</td>
                                            <td></td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let approvalAuthority of approvalAuthoritys | filter: searchText ">
                                            <td>
                                                {{approvalAuthority.approvalAuthorityName}}
                                            </td>
                                            <td>
                                                <select class="form-control" [(ngModel)]="approvalAuthority.compId" [ngModelOptions]="{standalone: true}" [disabled]="true">
                                                <option value="1000">Square Pharmaceuticals Limited</option>
                                            </select>
                                            </td>
                                            <td>
                                                <select class="form-control" [(ngModel)]="approvalAuthority.deptId" [ngModelOptions]="{standalone: true}" [disabled]="true">
                                                    <option value="1">Sales</option>
                                                    <option value="2">PMD</option>
                                            </select>
                                            </td>
                                            <td>
                                                {{approvalAuthority.priority}}
                                            </td>
                                            <td>
                                                {{approvalAuthority.status}}
                                            </td>
                                            <td>
                                                {{approvalAuthority.remarks}}
                                            </td>
                                            <td>
                                                <button class="btn btn-info  btn-block" type="button" (click)="populateForm(approvalAuthority)"><i class="fa fa-pen"></i>&nbsp; Edit</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>