<div class="d-flex justify-content-center mt-4">

    <div class="col-12">
        <app-stepper [linearModeSelected]="true" #appStepper>
            <cdk-step [label]="'DIDS User Registration'">
                <div [formGroup]="registerForm">
                    <div class="card" formGroupName="userForm">
                        <div class="card-body">
                            <div class="VendorInfo">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" id="employeeSAPCode" placeholder="Employee SAP Code" formControlName="employeeSAPCode">
                                        <input type="text" class="form-control" id="employeeId" placeholder="Employee SAP Code" formControlName="employeeId" style="display: none;">
                                    </div>
                                    <div class="col-lg-3">
                                        <button class="btn btn-primary" type="button" (click)="employeeValidateById()">
                                        <i class="fa fa-check"></i>Validate</button>
                                    </div>
                                    <div class="col-lg-3">
                                        <button type="button" style="float: right;" class="btn btn-sm btn-embossed btn-success" (click)="backToLogin()">Back to Login</button>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" id="employeeName" placeholder=" Employee Name" formControlName="employeeName">
                                    </div>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" id="designationName" placeholder="Designation Name" formControlName="designationName">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" id="departmentName" placeholder="Department Name" formControlName="departmentName">
                                    </div>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" id="phoneNumber" placeholder="Phone Number" formControlName="phoneNumber">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" id="displayName" placeholder="Display Name" formControlName="displayName">
                                    </div>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" id="email" placeholder="Email" formControlName="email" readonly>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <input type="password" class="form-control" id="password" placeholder="Password" formControlName="password">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <ul class="text-danger list-unstyled" *ngIf="errors">
                                            <li *ngFor="let error of errors">
                                                {{error}}
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="float-none d-flex justify-content-between flex-column flex-lg-row">
                                            <button class="btn" cdkStepperPrevious></button>
                                            <!-- <button [disabled]="registerForm.get('userForm').invalid" class="btn btn-primary" cdkStepperNext>
                        Next <i class="fa fa-angle-right"></i>
                      </button> -->
                                            <button [disabled]="registerForm.invalid" class="btn btn-primary" (click)="onSubmit()">
                        <i class="fa fa-save"></i> SAVE 
                        <i *ngIf="loading" class="fa fa-spinner fa-spin"></i>
                      </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>


            </cdk-step>
            <!-- <cdk-step [label]="'Role Information'">
                <div [formGroup]="registerForm">
                    <div class="card" formGroupName="roleForm">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-6">
                                    <ng-multiselect-dropdown formControlName="userRoles" [placeholder]="'Role'" [settings]="roleDropdownSettings" [data]="roleList" [(ngModel)]="selectedRole" (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
                                    </ng-multiselect-dropdown>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-12">
                                    <div class="float-none d-flex justify-content-between flex-column flex-lg-row mb-5">
                                        <button class="btn btn-outline-primary" cdkStepperPrevious>
                      <i class="fa fa-angle-left"></i> Back to User Information
                    </button>

                                        <button [disabled]="registerForm.invalid" class="btn btn-primary" (click)="onSubmit()">
                      <i class="fa fa-save"></i> SAVE 
                      <i *ngIf="loading" class="fa fa-spinner fa-spin"></i>
                    </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </cdk-step> -->
        </app-stepper>
        <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
            <p style="color: white">Please Wait. </p>
        </ngx-spinner>
    </div>
</div>