<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <form novalidate autocomplete="off" #form="ngForm">
                    <div class="card card-primary">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-sm-9">
                                    <h3 class="card-title">Pending Payment Letter For Cheque</h3>
                                </div>
                                <!-- <div class="col-sm-1">
                                    <button class="btn btn-success btn-lg btn-block" type="submit" [disabled]="form.invalid"><i class="fa fa-save"></i>&nbsp; Save</button>
                                </div>
                                <div class="col-sm-1">
                                    <button class="btn btn-danger btn-lg btn-block" type="button" (click)="resetPage(form)"><i class="fa fa-undo"></i>&nbsp; Reset</button>
                                </div> -->
                            </div>
                        </div>
                        <div class="card-body">
                            <fieldset>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-2">
                                        </div>
                                        <div class="col-md-6">
                                            <input name="filterText" class="form-control m-input Searchbox" type="text" [(ngModel)]="searchText" placeholder="Search..">
                                        </div>
                                        <div class="col-md-3">
                                            <button class="btn btn-danger" type="button" (click)="resetSearch()"><i class="fa fa-undo"></i>&nbsp; Reset</button>
                                        </div>
                                    </div>
                                </div>
                                <br/>
                                <div class="form-group">
                                    <table class="table  table-bordered">
                                        <tr class="HeaderRow">
                                            <td>Reference No</td>
                                            <td>Donation Type</td>
                                            <td>Proposed For</td>
                                            <td>Doctor Name</td>
                                            <td>Proposed Amount</td>
                                            <td>Market</td>
                                            <td>Proposed By</td>
                                            <td>Approved By</td>
                                            <td>Approved Date</td>
                                            <td>Details</td>
                                        </tr>
                                        <tr *ngFor="let a of rptDepotLetter | filter: searchText ">
                                            <td>
                                                {{a.referenceNo}}
                                            </td>
                                            <td>
                                                {{a.donationTypeName}}
                                            </td>
                                            <td>
                                                {{a.proposeFor}}
                                            </td>
                                            <td>
                                                {{a.doctorName}}
                                            </td>
                                            <td>
                                                {{a.proposedAmount | number:'2.1-2'}}
                                            </td>
                                            <td>
                                                {{a.marketName}}
                                            </td>
                                            <td>
                                                {{a.employeeName}}
                                            </td>
                                            <td>
                                                {{a.approvedBy}}
                                            </td>
                                            <td>
                                                {{a.approvedDate | date:'dd/MM/yyyy'}}
                                            </td>
                                            <td>
                                                <button class="btn btn-sm btn-embossed btn-success" type="button" (click)="ViewReport(a)" style="width: 100px;"><i class="fa fa-eye"></i>View Detail</button>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
    <p style="color: black">Please Wait. </p>
</ngx-spinner>