<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-success">
                    <div class="box-header with-border">
                        <h3 class="box-title"><strong>Change Password</strong></h3>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12">
                                <form [formGroup]="changePasswordForm" (submit)="changePassword()">
                                    <div class="row">
                                        <div class="col-md-1"></div>
                                        <div class="col-md-10">
                                            <div class="form-group">
                                                <label for="password">Current Password<span style="color:red;">*</span></label>

                                                <input type="password" class="form-control" id="password" (keyup)="verifyCurrentPassword()" [ngClass]="{'is-invalid': changePasswordForm.get('currentPassword').errors && changePasswordForm.get('currentPassword').touched}" formControlName="currentPassword"
                                                    autocomplete="new-password">
                                                <div class="invalid-feedback" *ngIf="verifyCrntPass">Wrong Password</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-1"></div>
                                        <div class="col-md-10">
                                            <div class="form-group">
                                                <label for="new-password">New Password<span style="color:red;">*</span></label> &nbsp;&nbsp;&nbsp;
                                                <b style="color:red;">One Capital letter(A-Z),One Small letter(a-z),One Special Charecter(!@#$%^&*) and at least 6 character is required</b>

                                                <!-- <input [type]="ismyTextFieldType ? 'text' : 'password'" type="password" class="form-control" id="new-password" [ngClass]="{'is-invalid': changePasswordForm.get('newPassword').errors && changePasswordForm.get('newPassword').touched}" formControlName="newPassword" autocomplete="new-password"> -->
                                                <input [type]="isTextFieldType ? 'text' : 'password'" class="form-control" id="new-password" [ngClass]="{'is-invalid': changePasswordForm.get('newPassword').errors && changePasswordForm.get('newPassword').touched}" formControlName="newPassword" autocomplete="new-password">


                                                <div class="invalid-feedback" *ngIf="changePasswordForm.get('newPassword').hasError('required') 
                                        && changePasswordForm.get('newPassword').touched">Password required</div>
                                                <div class="invalid-feedback" *ngIf="changePasswordForm.get('newPassword').hasError('minlength')
                                        && changePasswordForm.get('newPassword').touched"> Password must be atleast 6 character long</div>
                                                <div class="invalid-feedback" *ngIf="changePasswordForm.get('newPassword').hasError('maxlength') 
                                    && changePasswordForm.get('newPassword').touched">Password should not more than 10 character long</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-1"></div>
                                        <div class="col-md-10">
                                            <div class="form-group">
                                                <label for="confirm-password">Confirm New Password<span style="color:red;">*</span></label>

                                                <input [type]="isTextFieldType ? 'text' : 'password'" class="form-control" id="confirm-password" [ngClass]="{'is-invalid': changePasswordForm.get('confirmPassword').errors && changePasswordForm.get('confirmPassword').touched}" formControlName="confirmPassword"
                                                    autocomplete="new-password">
                                                <div *ngIf="changePasswordForm.get('confirmPassword').hasError('required')
                                        && changePasswordForm.get('confirmPassword').touched && !changePasswordForm.hasError('mismatch')" class="invalid-feedback">Confirm Password required</div>
                                                <div *ngIf="changePasswordForm.hasError('mismatch') && changePasswordForm.get('confirmPassword').touched" class="invalid-feedback">Confirm password not matched</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-1"></div>
                                        <div class="col-md-10">
                                            <input type="checkbox" (click)="toggleShowPassword()"> Show Password
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-1"></div>
                                        <div class="col-md-10">
                                            <div class="form-group">
                                                <button class="form-control btn-success" [ngClass]="{'btn-registration-disabled': changePasswordForm.invalid}" [disabled]="changePasswordForm.invalid" style="padding: 0; color: white;font-size:large; font-weight: 500;">Change Password</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>