.update-btn {
    padding: 10px 100px;
    text-align: center;
    font-size: 15px;
    margin: 4px 410px;
}

.form-control {
    background-image: none;
    /* border: 1px solid green; */
}

.form-control:focus {
    border: 1px solid #45A845 !important;
}

.is-invalid {
    border: 1px solid red !important;
}

.btn-registration-disabled {
    cursor: no-drop;
    color: #000 !important;
    font-weight: bold;
}

.hide {
    display: none;
}

.inner-addon {
    position: relative;
}

.inner-addon .fas {
    position: absolute;
    padding: 10px 30px;
    z-index: 100;
    cursor: pointer;
}

.left-addon .fas {
    left: 0px;
}

.right-addon .fas {
    right: 0px;
}

.left-addon input {
    padding-left: 30px;
}

.right-addon input {
    padding-right: 30px;
}