<div *ngIf="changeViewId!=2" class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title"><strong>Profile</strong></h3>
                    <button *ngIf="changeViewId==0" class="btn btn-primary blue" style="float: right;margin-left: 10px;"
                        (click)="changePasswordBtn()"><i class="fa fa-edit"></i>
                        Change Password</button>
                    <button *ngIf="changeViewId==0" class="btn btn-primary blue" style="float: right;"
                        (click)="editEmployeeInfo()"><i class="fa fa-edit"></i>
                        Edit Profile</button>
                    <button *ngIf="changeViewId==1" type="button" style="float: right;margin-right: 100px;"
                        class="btn btn-embossed btn-primary blue" (click)="backToEmployeeInfo()"><i
                            class="fas fa-backward"></i>Back to Profile Info</button>

                </div>
                <div class="box-body">
                    <div *ngIf="changeViewId==0" class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-10">
                            <div class="row" style="border-bottom: 1px solid #f1f1f1 ;">
                                <div class="col-md-2"></div>
                                <div class="col-md-3">
                                    <h5>
                                        <b>
                                            <i class="fa fa-server" aria-hidden="true"></i>
                                            Name
                                        </b>
                                    </h5>
                                </div>
                                <div class="col-md-1"><b>:</b></div>
                                <div class="col-md-6">{{employeeInfo.empName}}</div>
                            </div>
                            <div class="row" style="border-bottom: 1px solid #f1f1f1 ;">
                                <div class="col-md-2"></div>
                                <div class="col-md-3">
                                    <h5>
                                        <b>
                                            <i class="fa fa-user" aria-hidden="true"></i>
                                            Username
                                        </b>
                                    </h5>
                                </div>
                                <div class="col-md-1"><b>:</b></div>
                                <div class="col-md-6">{{employeeInfo.username}}</div>
                            </div>
                            <div class="row" style="border-bottom: 1px solid #f1f1f1 ;">
                                <div class="col-md-2"></div>
                                <div class="col-md-3">
                                    <h5>
                                        <b>
                                            <i class="fa fa-briefcase" aria-hidden="true"></i>
                                            Designation
                                        </b>
                                    </h5>
                                </div>
                                <div class="col-md-1"><b>:</b></div>
                                <div class="col-md-6">{{employeeInfo.designation}}</div>
                            </div>

                            <div class="row" style="border-bottom: 1px solid #f1f1f1 ;">
                                <div class="col-md-2"></div>
                                <div class="col-md-3">
                                    <h5>
                                        <b>
                                            <i class="fa fa-envelope" aria-hidden="true"></i>
                                            Email
                                        </b>
                                    </h5>
                                </div>
                                <div class="col-md-1"><b>:</b></div>
                                <div class="col-md-6">{{employeeInfo.email}}</div>
                            </div>
                            <div class="row" style="border-bottom: 1px solid #f1f1f1 ;">
                                <div class="col-md-2"></div>
                                <div class="col-md-3">
                                    <h5>
                                        <b>
                                            <i class="fa fa-phone-square" aria-hidden="true"></i>
                                            Contact Number
                                        </b>
                                    </h5>
                                </div>
                                <div class="col-md-1"><b>:</b></div>
                                <div class="col-md-6">{{employeeInfo.contactNo}}</div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="changeViewId==1" class="row">
                        <form #empForm="ngForm" novalidate novalidate autocomplete="off">
                            <div class="modal-header">
                                <h4 class="modal-title">
                                    <span>Edit Profile</span>
                                </h4>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group m-form__group">
                                                    <label for="EmployeeName">Employee Name
                                                        <span style="color:red;">*</span>
                                                    </label>
                                                    <!-- [ngClass]="{'is-invalid': registrationForm.get('empName').errors && registrationForm.get('empName').touched}"  -->
                                                    <input type="text" id="EmployeeName" class="form-control"
                                                        [(ngModel)]="employeeInfo.empName" name="empName"
                                                        #empName="ngModel"
                                                        [ngClass]="{ 'is-invalid': empName.touched && empName.invalid }"
                                                        required empName />
                                                    <div *ngIf="empName.touched && empName.invalid"
                                                        class="invalid-feedback">
                                                        <div *ngIf="empName.errors.required">Employee Name is required
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group m-form__group">
                                                    <label for="Designation">Designation
                                                        <span style="color:red;">*</span>
                                                    </label>
                                                    <input type="text" id="Designation" class="form-control"
                                                        [(ngModel)]="employeeInfo.designation" name="designation"
                                                        #designation="ngModel"
                                                        [ngClass]="{ 'is-invalid': designation.touched && designation.invalid }"
                                                        required designation />
                                                    <div *ngIf="designation.touched && designation.invalid"
                                                        class="invalid-feedback">
                                                        <div *ngIf="designation.errors.required">Designation is required
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group m-form__group">
                                                    <label for="Email">Email
                                                        <span style="color:red;">*</span>
                                                    </label>
                                                    <input type="email" id="Email" class="form-control"
                                                        [(ngModel)]="employeeInfo.email" name="email"
                                                        placeholder="someone@domain.com" #email="ngModel"
                                                        [ngClass]="{ 'is-invalid': email.touched && email.invalid }"
                                                        required email
                                                        pattern="^\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$" />
                                                    <div *ngIf="email.touched && email.invalid"
                                                        class="invalid-feedback">
                                                        <div *ngIf="email.errors.required">Email is required</div>
                                                        <div *ngIf="email.errors.email">Email must be a valid email
                                                            address</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group m-form__group">
                                                    <label for="ContactNo">Mobile
                                                        <span style="color:red;">*</span>
                                                    </label>
                                                    <!-- <input type="text" id="contactNo" class="form-control" [(ngModel)]="employeeInfo.contactNo"
                                          name="contactNo" #contactNo="ngModel" required /> -->
                                                    <international-phone-number [(ngModel)]="employeeInfo.contactNo"
                                                        placeholder="Enter Contact Number" [maxlength]="20"
                                                         [required]="true" #contactNo="ngModel"
                                                        name="contactNo">
                                                    </international-phone-number>
                                                    <div *ngIf="contactNo.touched && contactNo.invalid"
                                                        class="help-block" style="color: red;"><small>Mobile No is
                                                            required
                                                            and should be valid</small></div>

                                                    <!-- <int-phone-prefix [defaultCountry]="'us'" #phoneNumberInput="ngModel" [(ngModel)]="contact.mobile"
                                          name="homePhone" minlength="0" maxlength="512">
                                          [allowedCountries]="['bd','in', 'ca', 'us']"
                                        </int-phone-prefix> -->
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group m-form__group">
                                                    <label for="UserName">Username
                                                        <span style="color:red;">*</span>
                                                    </label>
                                                    <input type="text" id="username" class="form-control"
                                                        [(ngModel)]="employeeInfo.username" name="username"
                                                        #username="ngModel"
                                                        [ngClass]="{ 'is-invalid': username.touched && username.invalid }"
                                                        required username />
                                                    <div *ngIf="username.touched && username.invalid"
                                                        class="invalid-feedback">
                                                        <div *ngIf="username.errors.required">Username is required</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="update-btn btn btn-info" (click)="update(employeeInfo)"><i
                                    class="fa fa-save"></i>
                                <span>Update Info</span></button>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="changeViewId==2" class="content">
    <div class="row">
      <div class="col-md-12">
          <div class="box box-success">
              <div class="box-header with-border">
                <h3 class="box-title"><strong>Change Password</strong></h3>
               <button type="button" style="float: right;margin-right: 100px;" class="btn btn-embossed btn-primary blue" (click)="backToEmployeeInfo()"><i class="fas fa-backward"></i>Back to Profile Info</button>
              </div>
              <div class="box-body">
                 <div class="row">
                   <div class="col-md-12">
                      <form [formGroup]="changePasswordForm" (submit)="changePassword()">
                        <div class="row">
                          <div class="col-md-1"></div>
                            <div class="col-md-10">
                                <div class="form-group">
                                   <label for="password">Current Password<span style="color:red;">*</span></label>
                                   
                                   <input type="password" class="form-control" id="password" (keyup)="verifyCurrentPassword()"
                                   [ngClass]="{'is-invalid': changePasswordForm.get('currentPassword').errors && changePasswordForm.get('currentPassword').touched}" 
                                    formControlName= "currentPassword" autocomplete="new-password">
                                    <div class="invalid-feedback" *ngIf="verifyCrntPass">Wrong Password</div>
                               </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-1"></div>
                              <div class="col-md-10">
                                  <div class="form-group">
                                     <label for="new-password">New Password<span style="color:red;">*</span></label>
                                     
                                     <input type="password" class="form-control" id="new-password" 
                                     [ngClass]="{'is-invalid': changePasswordForm.get('newPassword').errors && changePasswordForm.get('newPassword').touched}" 
                                      formControlName= "newPassword" autocomplete="new-password">
                                      <div class="invalid-feedback"
                                        *ngIf="changePasswordForm.get('newPassword').hasError('required') 
                                        && changePasswordForm.get('newPassword').touched">Password required</div>
                                        <div class="invalid-feedback" *ngIf="changePasswordForm.get('newPassword').hasError('minlength')
                                          && changePasswordForm.get('newPassword').touched"> Password must be atleast 5 character long</div>
                                      <div class="invalid-feedback" *ngIf="changePasswordForm.get('newPassword').hasError('maxlength') 
                                      && changePasswordForm.get('newPassword').touched">Password should not more than 10 character long</div>
                                 </div>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-1"></div>
                                <div class="col-md-10">
                                    <div class="form-group">
                                       <label for="confirm-password">Confirm New Password<span style="color:red;">*</span></label>
                                       
                                       <input type="password" class="form-control" id="confirm-password" 
                                       [ngClass]="{'is-invalid': changePasswordForm.get('confirmPassword').errors && changePasswordForm.get('confirmPassword').touched}" 
                                        formControlName= "confirmPassword" autocomplete="new-password">
                                        <div *ngIf="changePasswordForm.get('confirmPassword').hasError('required')
                                         && changePasswordForm.get('confirmPassword').touched && !changePasswordForm.hasError('mismatch')" class="invalid-feedback">Confirm Password required</div>
                                        <div *ngIf="changePasswordForm.hasError('mismatch') && changePasswordForm.get('confirmPassword').touched"
                                          class="invalid-feedback">Confirm password not matched</div>
                                   </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-1"></div>
                                <div class="col-md-10">
                                   <div class="form-group">
                                    <button class="form-control btn-success" [ngClass]="{'btn-registration-disabled': changePasswordForm.invalid}" 
                                    [disabled]="changePasswordForm.invalid"
                                    style="padding: 0; color: white;font-size:large; font-weight: 500;">Change Password</button>
                                   </div>
                                 </div>
                               </div>
                      </form>
                   </div>
                 </div>
  
              </div>
          </div>
      </div>
    </div>
  </div>
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '4px', fullScreenBackdrop:true}"></ngx-loading>