.update-btn{
    padding: 10px 100px;
    text-align: center;
    font-size: 15px;
    margin: 4px 410px;
}

.form-control{
    background-image: none;
    /* border: 1px solid green; */
}
.form-control:focus{
    border: 1px solid #45A845 !important;
}
.is-invalid {
    border: 1px solid red !important;
}
.btn-registration-disabled{
    cursor: no-drop;
    color: #000 !important;
    font-weight: bold;
}