<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <!-- form start -->
                <form novalidate autocomplete="off"  #bgtsbuForm="ngForm" >
                    <!-- general form elements -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <div class="row">
                            
                                <div class="col-sm-10">
                                    <h3 class="card-title">Employee SBU Relation</h3>
                                </div>
                                <div class="col-sm-1">
                                    <button class="btn btn-success btn-lg btn-block" type="submit" (click)="confirmSubmission()" [disabled]="bgtsbuForm.invalid"><i class="fa fa-save"></i>&nbsp; Save</button>
                                </div>
                                <div class="col-sm-1">
                                    <button class="btn btn-danger btn-lg btn-block" type="button" ><i class="fa fa-undo"></i> Reset</button>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <input type="hidden" name="id" />
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-1">
                                        <label>Company Name</label>
                                    </div>
                                    <div class="col-md-2">
                                        <select class="form-control" name="company" id="compId" name="compId" [(ngModel)]="budgetEmpSbuMapService.budgetSbuMap.compId"  readonly>
                                            <option  [ngValue]="0">Select Company</option>
                                            <option value="1000">Square Pharmaceuticals Limited</option>
                                        </select>
                                    </div>
                                    <div class="col-md-1">
                                        <label>Dept. Name</label>
                                        <span style="color:red;">*</span> 
                                    </div>
                                    <div class="col-md-2">
                                        <select class="form-control" name="department" (change)="getEmpSbuMappingList()"  [(ngModel)]="budgetEmpSbuMapService.budgetSbuMap.deptId" >
                                            <option  [ngValue]="0">Select Department</option>
                                            <option value="1">Sales</option>
                                            <option value="2">PMD</option>
                                        </select>
                                    </div>
                                    <div class="col-md-1">
                                        <label>Employee</label>
                                    </div>
                                    <div class="col-md-2">
                                        <ng-select [virtualScroll]="true" [items]="employees"  bindLabel="employeeName" bindValue="id"   placeholder="Select" name="employee" [(ngModel)]="budgetEmpSbuMapService.budgetSbuMap.employeeId"
                                        required >
                                            <ng-template ng-label-tmp let-item="item">
                                                <span [ngOptionHighlight]="search">{{ item.employeeSAPCode }} - {{ item.employeeName }}</span>
                                            </ng-template>

                                            <ng-template ng-option-tmp let-item="item" let-search="searchTerm" let-index="index">
                                                <span [ngOptionHighlight]="search">{{ item.employeeSAPCode }} - {{ item.employeeName }}</span>
                                            </ng-template>
                                        </ng-select>
                                    </div>
                                    <div class="col-md-1">
                                        <label>SBU</label>
                                    </div>
                                    <div class="col-md-2">
                                        <select class="form-control " id="sbu"  name="sbu" required  [(ngModel)]="budgetEmpSbuMapService.budgetSbuMap.sbu">
                                            <option  [ngValue]="null">Select SBU</option>
                                            <option *ngFor="let a of SBUs" [value]="a.sbuCode">{{a.sbuName}}</option>
                                        </select>
                                    </div>
                            
                                   
                                </div>
                            </div>
                            <br/>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-2">
                                    </div>
                                    <div class="col-md-6">
                                        <input name="filterText" class="form-control m-input Searchbox" type="text" [(ngModel)]="searchText"  placeholder="Search..">
                                    </div>
                                    <div class="col-md-3">
                                        <button class="btn btn-danger" type="button" ><i class="fa fa-undo"></i>&nbsp; Reset</button>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <table class="table table-bordered">
                                    <tr class="HeaderRow">
                                        <td>Employee ID</td>
                                        <td>Employee Name</td>
                                        <td>Assigned SBU</td>
                                        <td>Action</td>
                                    </tr>
                                    <tr *ngFor="let a of budgetSbuMapList  | filter: searchText">
                                        <td>
                                            {{a.employeeId}} 
                                        </td>
                                        <td>
                                            {{a.employeeName}} 
                                        </td>
                                        <td>
                                            {{a.sbuName}} 
                                        </td>
                                        <td>
                                            <input type="button"  (click)="removeSbuMapping(a)"  value="Remove"> 
                                        </td>
                                      
                                    </tr>
                                </table>
                    
                            </div>
                        </div>
                        <!-- /.card -->
                    </div>
                </form>
            </div>
            <!-- /.row -->
        </div>
    </div>
    <!-- /.container-fluid -->
</section>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
    <p style="color: black">Please Wait. </p>
</ngx-spinner>
<ng-template #submissionConfirmModal style="bottom: -50px;">
    <div class="modal-body text-center">
        <div>
            <h4>Do you want to save ?</h4><small>(N.B. Save Proposal Unchangeable!)</small>
        </div>
        <button type="button" class="btn btn-success" (click)="confirmSubmit()">Yes</button>
        <button type="button" class="btn btn-danger" (click)="declineSubmit()">No</button>
    </div>
</ng-template>