<style>
    /* .form-control:disabled,
    .form-control[readonly] {
        background-color: #ffffff;
        opacity: 1;
    } */
    
    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        text-indent: 1px;
        text-overflow: '';
    }
    
    .form-control {
        color: black;
    }
</style>
<section class="content" id="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <form novalidate autocomplete="off" #investmentCancelForm="ngForm" (submit)="onSubmit(investmentCancelForm)">
                    <div class="card card-primary">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-sm-9">
                                    <h3 class="card-title">Investment Cancel</h3>
                                </div>


                                <div class="col-sm-1">
                                    <button class="btn btn-warning btn-block" type="button" (click)="cancelInvestment()" [disabled]="investmentCancelForm.invalid"><i class="fa fa-times"></i>&nbsp; Cancel</button>
                                </div>
                                <div class="col-sm-1">
                                    <button class="btn btn-danger  btn-block" type="button" (click)="resetPage(investmentCancelForm)"><i class="fa fa-undo"></i>&nbsp; Reset</button>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <p [hidden]="true" style="color:red ;">This Investment has been Inactive</p>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-2">
                                        <label>Reference No</label>
                                    </div>
                                    <div class="col-md-2">
                                        <input class="form-control" id="id" name="id" #id="ngModel" [(ngModel)]="investmentCancelService.investmentCancelFormData.id" style="display:none ;" required>
                                        <input class="form-control" id="referenceNo" name="referenceNo" #referenceNo="ngModel" [(ngModel)]="investmentCancelService.investmentCancelFormData.referenceNo" required>
                                    </div>
                                    <div class="col-sm-1">
                                        <button class="btn btn-info btn-lg btn-block" type="button" (click)="ViewData()"><i class="fa fa-eye"></i>&nbsp;View</button>
                                    </div>
                                    <div class="col-md-2">
                                        <label>Propose For</label>
                                    </div>
                                    <div class="col-md-3">
                                        <input class="form-control" id="proposeFor" name="proposeFor" #proposeFor="ngModel" [(ngModel)]="investmentCancelService.investmentCancelFormData.proposeFor" [class.invalid]="proposeFor.invalid && proposeFor.touched" required readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-2">
                                        <label>Donation Type</label>
                                    </div>
                                    <div class="col-md-3">
                                        <input class="form-control" id="donationTypeName" name="donationTypeName" #donationTypeName="ngModel" [(ngModel)]="investmentCancelService.investmentCancelFormData.donationTypeName" required [class.invalid]="donationTo.invalid && donationTo.touched" readonly
                                            required>
                                    </div>
                                    <div class="col-md-2">
                                        <label>Donation To</label>
                                    </div>
                                    <div class="col-md-3">
                                        <input class="form-control" id="donationTo" name="donationTo" #donationTo="ngModel" [(ngModel)]="investmentCancelService.investmentCancelFormData.donationTo" required [class.invalid]="donationTo.invalid && donationTo.touched" readonly required>
                                    </div>
                                </div>
                            </div>
                            <fieldset *ngIf="investmentCancelService.investmentCancelFormData.donationTo=='Doctor'">
                                <!-- <legend>Doctor Profile</legend> -->

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <h6 class=""><strong>Doctor Profile</strong></h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <label>Doctor Name</label>
                                        </div>
                                        <div class="col-md-3">
                                            <input class="form-control" id="id" name="id" #id="ngModel" [(ngModel)]="investmentCancelService.investmentDoctorFormData.id" readonly style="display: none;">
                                            <input class="form-control" name="doctorName" readonly id="doctorName" #doctorId="ngModel" [(ngModel)]="investmentCancelService.investmentDoctorFormData.doctorName">
                                        </div>
                                        <div class="col-md-2">
                                            <label>Doctor Id</label>
                                        </div>
                                        <div class="col-md-3">
                                            <input class="form-control" name="doctorId" readonly id="doctorId" #doctorId="ngModel" [(ngModel)]="investmentCancelService.investmentDoctorFormData.doctorId">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <label>Degree</label>
                                        </div>
                                        <div class="col-md-3">
                                            <input class="form-control" name="degree" readonly id="degree" name="degree" #degree="ngModel" [(ngModel)]="investmentCancelService.investmentDoctorFormData.degree">
                                        </div>
                                        <div class="col-md-2">
                                            <label>Designation</label>
                                        </div>
                                        <div class="col-md-3">
                                            <input class="form-control" name="designation" readonly id="designation" name="designation" #designation="ngModel" [(ngModel)]="investmentCancelService.investmentDoctorFormData.designation">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <label>Institution</label>
                                        </div>
                                        <div class="col-md-3">
                                            <input class="form-control" name="institutionName" readonly id="institutionName" name="institutionName" #institutionId="ngModel" [(ngModel)]="investmentCancelService.investmentDoctorFormData.institutionName">
                                        </div>
                                        <div class="col-md-2">
                                            <label>Doctor Category</label>
                                        </div>
                                        <div class="col-md-3">
                                            <input class="form-control" name="doctorCategory" id="doctorCategory" #doctorCategory="ngModel" [(ngModel)]="investmentCancelService.investmentDoctorFormData.doctorCategory" readonly>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <label>Address</label>
                                        </div>
                                        <div class="col-md-3">
                                            <input class="form-control" name="address" readonly id="address" name="address" #address="ngModel" [(ngModel)]="investmentCancelService.investmentDoctorFormData.address">
                                        </div>
                                        <div class="col-md-2">
                                            <label>Doctor Type</label>
                                        </div>
                                        <div class="col-md-3">
                                            <input class="form-control" readonly name="doctorType" id="doctorType" #doctorType="ngModel" [(ngModel)]="investmentCancelService.investmentDoctorFormData.doctorType">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <label>No. Of Prac. Day/ Month</label>
                                        </div>
                                        <div class="col-md-3">
                                            <input class="form-control" readonly id="practiceDayPerMonth" name="practiceDayPerMonth" #practiceDayPerMonth="ngModel" [(ngModel)]="investmentCancelService.investmentDoctorFormData.practiceDayPerMonth">
                                        </div>
                                        <div class="col-md-2">
                                            <label>No. Of Patients Day</label>
                                        </div>
                                        <div class="col-md-3">
                                            <input class="form-control" readonly id="patientsPerDay" name="patientsPerDay" #patientsPerDay="ngModel" [(ngModel)]="investmentCancelService.investmentDoctorFormData.patientsPerDay">
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset *ngIf="investmentCancelService.investmentCancelFormData.donationTo=='Institution'">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <h6 class=" "><strong>Institution Profile</strong></h6>
                                        </div>
                                        <!-- <div class="col-sm-2"></div>
                                        <div class="col-sm-2" *ngIf="isValid">
                                            <button class="btn btn-success btn-lg btn-block" type="button" (click)="insertInvestmentInstitution()"><i class="fa fa-save"></i>&nbsp; Save</button>
                                        </div>
                                        <div class="col-sm-2" *ngIf="isValid">
                                            <button class="btn btn-danger btn-lg btn-block" type="button" (click)="removeInvestmentInstitution()"><i class="fa fa-trash"></i>&nbsp; Remove</button>
                                        </div> -->
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <label>Institution </label>
                                        </div>
                                        <div class="col-md-3">
                                            <input class="form-control" id="institutionName" name="institutionName" #institutionName="ngModel" [(ngModel)]="investmentCancelService.investmentInstitutionFormData.institutionName" readonly>
                                        </div>
                                        <div class="col-md-2">
                                            <label>Responsible Doctor</label>
                                        </div>
                                        <div class="col-md-3">
                                            <input class="form-control" id="responsibleDoctorName" name="responsibleDoctorName" #responsibleDoctorName="ngModel" [(ngModel)]="investmentCancelService.investmentInstitutionFormData.responsibleDoctorName" readonly>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <label>Address</label>
                                        </div>
                                        <div class="col-md-3">
                                            <input class="form-control" name="address" id="address" #address="ngModel" [(ngModel)]="investmentCancelService.investmentInstitutionFormData.address" readonly>
                                        </div>
                                        <div class="col-md-2">
                                            <label>Institution Type</label>
                                        </div>
                                        <div class="col-md-3">
                                            <input class="form-control" name="institutionType" id="institutionType" #institutionType="ngModel" [(ngModel)]="investmentCancelService.investmentInstitutionFormData.institutionType" readonly>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <label>No. Of Bed</label>
                                        </div>
                                        <div class="col-md-3">
                                            <input class="form-control" name="noOfBed" id="noOfBed" #noOfBed="ngModel" [(ngModel)]="investmentCancelService.investmentInstitutionFormData.noOfBed" readonly>
                                        </div>
                                        <div class="col-md-2">
                                            <label>Department/ Unit</label>
                                        </div>
                                        <div class="col-md-3">
                                            <input class="form-control" name="departmentUnit" id="departmentUnit" #departmentUnit="ngModel" [(ngModel)]="investmentCancelService.investmentInstitutionFormData.departmentUnit" readonly>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset *ngIf="investmentCancelService.investmentCancelFormData.donationTo=='Campaign'">

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <h6 class=" "><strong>Campaign Info</strong></h6>
                                        </div>
                                        <!-- <div class="col-sm-2"></div>
                                        <div class="col-sm-2" *ngIf="isValid">
                                            <button class="btn btn-success btn-lg btn-block" type="button" (click)="insertInvestmentCampaign()"><i class="fa fa-save"></i>&nbsp; Save</button>
                                        </div>
                                        <div class="col-sm-2" *ngIf="isValid">
                                            <button class="btn btn-danger btn-lg btn-block" type="button" (click)="removeInvestmentCampaign()"><i class="fa fa-trash"></i>&nbsp; Remove</button>
                                        </div> -->

                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <label>Campaign Name</label>
                                        </div>
                                        <div class="col-md-3">
                                            <input class="form-control" name="campaignName" id="campaignName" #campaignName="ngModel" [(ngModel)]="investmentCancelService.investmentCampaignFormData.campaignName" readonly>
                                        </div>
                                        <div class="col-md-2">
                                            <label>Sub-Campaign Name</label>
                                        </div>
                                        <div class="col-md-3">
                                            <input class="form-control" name="subCampaignName" id="subCampaignName" #subCampaignName="ngModel" [(ngModel)]="investmentCancelService.investmentCampaignFormData.subCampaignName" readonly>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <label>Campaign Start date</label>
                                        </div>
                                        <div class="col-md-3">
                                            <input class="form-control" name="subCampStartDate" #subCampStartDate="ngModel" [(ngModel)]="investmentCancelService.investmentCampaignFormData.subCampStartDate" readonly>
                                        </div>
                                        <div class="col-md-2">
                                            <label>Campaign End Date</label>
                                        </div>
                                        <div class="col-md-3">
                                            <input class="form-control" name="subCampEndDate" #subCampEndDate="ngModel" [(ngModel)]="investmentCancelService.investmentCampaignFormData.subCampEndDate" readonly>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <label> Doctor</label>
                                        </div>
                                        <div class="col-md-3">
                                            <input class="form-control" name="doctorName" id="doctorName" #doctorName="ngModel" [(ngModel)]="investmentCancelService.investmentCampaignFormData.doctorName" readonly>
                                        </div>
                                        <div class="col-md-2">
                                            <label>Institution Id</label>
                                        </div>
                                        <div class="col-md-3">
                                            <input class="form-control" name="institutionName" id="institutionName" #institutionName="ngModel" [(ngModel)]="investmentCancelService.investmentCampaignFormData.institutionName" readonly>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="form-group">
                                    <div class="form-group">
                                        <table class="table  table-bordered">
                                            <tr class="HeaderRow">
                                                <td>Product Code</td>
                                                <td>Product Name</td>
                                                <td></td>
                                            </tr>
                                            <tr *ngFor="let a of campaignDtlProducts">
                                                <td>
                                                    {{a.productInfo.productCode}}
                                                </td>
                                                <td>
                                                    {{a.productInfo.productName}}
                                                </td>
                                                <td>
                                                    Details
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div> -->
                            </fieldset>
                            <fieldset *ngIf="investmentCancelService.investmentCancelFormData.donationTo=='Bcds'">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <h6 class=" "><strong>BCDS</strong></h6>
                                        </div>
                                        <!-- <div class="col-sm-2"></div>
                                        <div class="col-sm-2" *ngIf="isValid">
                                            <button class="btn btn-success btn-lg btn-block" type="button" (click)="insertInvestmentBcds()"><i class="fa fa-save"></i>&nbsp; Save</button>
                                        </div>
                                        <div class="col-sm-2" *ngIf="isValid">
                                            <button class="btn btn-danger btn-lg btn-block" type="button" (click)="removeInvestmentBcds()"><i class="fa fa-trash"></i>&nbsp; Remove</button>
                                        </div> -->
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <label>BCDS </label>
                                        </div>
                                        <div class="col-md-3">
                                            <input class="form-control" name="bcdsName" id="bcdsName" #bcdsName="ngModel" [(ngModel)]="investmentCancelService.investmentBcdsFormData.bcdsName" readonly>
                                        </div>
                                        <div class="col-md-2">
                                            <label>Responsible Doctor</label>
                                        </div>
                                        <div class="col-md-3">
                                            <input class="form-control" id="responsibleDoctorNameBcds" name="responsibleDoctorNameBcds" #responsibleDoctorNameBcds="ngModel" [(ngModel)]="investmentCancelService.investmentBcdsFormData.responsibleDoctorName" readonly>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <label>BCDS Address</label>
                                        </div>
                                        <div class="col-md-3">
                                            <input class="form-control" name="bcdsAddress" id="bcdsAddress" #bcdsAddress="ngModel" [(ngModel)]="investmentCancelService.investmentBcdsFormData.bcdsAddress" readonly>
                                        </div>
                                        <div class="col-md-2">
                                            <label>No. Of Members</label>
                                        </div>
                                        <div class="col-md-3">
                                            <input class="form-control" name="noOfMember" id="noOfMember" #noOfMember="ngModel" [(ngModel)]="investmentCancelService.investmentBcdsFormData.noOfMember" readonly>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset *ngIf="investmentCancelService.investmentCancelFormData.donationTo=='Society'">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <h6 class=" "><strong>Society</strong></h6>
                                        </div>
                                        <!-- <div class="col-sm-2"></div>
                                        <div class="col-sm-2" *ngIf="isValid">
                                            <button class="btn btn-success btn-lg btn-block" type="button" (click)="insertInvestmentSociety()"><i class="fa fa-save"></i>&nbsp; Save</button>
                                        </div>
                                        <div class="col-sm-2" *ngIf="isValid">
                                            <button class="btn btn-danger btn-lg btn-block" type="button" (click)="removeInvestmentSociety()"><i class="fa fa-trash"></i>&nbsp; Remove</button>
                                        </div> -->
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <label>Society Id</label>
                                        </div>
                                        <div class="col-md-3">
                                            <input class="form-control" id="societyName" name="societyName" #societyName="ngModel" [(ngModel)]="investmentCancelService.investmentSocietyFormData.societyName" readonly>
                                        </div>
                                        <div class="col-md-2">
                                            <label>Responsible Doctor</label>
                                        </div>
                                        <div class="col-md-3">
                                            <input class="form-control" id="responsibleDoctorNameSoc" name="responsibleDoctorNameSoc" #responsibleDoctorNameSoc="ngModel" [(ngModel)]="investmentCancelService.investmentSocietyFormData.responsibleDoctorName" readonly>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <label>Society Address</label>
                                        </div>
                                        <div class="col-md-3">
                                            <input class="form-control" name="societyAddress" id="societyAddress" #societyAddress="ngModel" [(ngModel)]="investmentCancelService.investmentSocietyFormData.societyAddress" readonly>
                                        </div>
                                        <div class="col-md-2">
                                            <label>No. Of Members</label>
                                        </div>
                                        <div class="col-md-3">
                                            <input class="form-control" name="noOfMembers" id="noOfMember" #noOfMember="ngModel" [(ngModel)]="investmentCancelService.investmentSocietyFormData.noOfMember" readonly>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset disabled>
                                <h6><strong>Investment Details</strong></h6>

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-2">
                                                        <label>Prop. Inv.</label>

                                                    </div>
                                                    <div class="col-md-10">
                                                        <input class="form-control" placeholder="Amount" name="proposedAmount" id="proposedAmount" #proposedAmount="ngModel" [(ngModel)]="investmentCancelService.investmentDetailFormData.proposedAmount" [pattern]="numberPattern">
                                                        <div class="invalid-feedback" *ngIf="proposedAmount.errors?.pattern">Only numeric value</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-2">
                                                        <label>Purpose</label>
                                                    </div>
                                                    <div class="col-md-10">
                                                        <input class="form-control" [disabled]="isInvOther" placeholder="Purpose" name="purpose" id="purpose" #purpose="ngModel" [(ngModel)]="investmentCancelService.investmentDetailFormData.purpose" maxLength="500">
                                                        <div class="invalid-feedback" *ngIf="purpose.errors?.maxLength">Maximum 500 Character long</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-2">
                                                        <label>Payment Freq</label>

                                                    </div>
                                                    <div class="col-md-3">
                                                        <select class="form-control" [disabled]="isInvOther  " id="paymentFreq" name="paymentFreq" #paymentFreq="ngModel" [(ngModel)]="investmentCancelService.investmentDetailFormData.paymentFreq" [class.invalid]="paymentFreq.invalid && paymentFreq.touched">
                                                            <option value="Monthly">Monthly</option>
                                                            <option value="Quarterly">Quarterly</option>
                                                            <option value="Half Yearly">Half Yearly</option>
                                                            <option value="Yearly">Yearly</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-2">
                                                        <label>Payment Dur.</label>

                                                    </div>
                                                    <div class="col-md-3">
                                                        <input class="form-control" [disabled]="isInvOther  " placeholder="Calender" name="fromDate" #fromDate="ngModel" [(ngModel)]="investmentCancelService.investmentDetailFormData.fromDate" [class.invalid]="fromDate.invalid && fromDate.touched" [bsValue]="bsValue"
                                                            bsDatepicker [bsConfig]="bsConfig">
                                                    </div>
                                                    <div class="col-md-3">
                                                        <input class="form-control" [disabled]="isInvOther  " placeholder="Calender" name="toDate" #toDate="ngModel" [(ngModel)]="investmentCancelService.investmentDetailFormData.toDate" [class.invalid]="toDate.invalid && toDate.touched" [bsValue]="bsValue" bsDatepicker
                                                            [bsConfig]="bsConfig">

                                                    </div>
                                                    <div class="col-md-2">
                                                        <label>Pay. Tot. Mon.</label>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <input class="form-control" placeholder="Total Month" name="totalMonth" id="totalMonth" #totalMonth="ngModel" [(ngModel)]="investmentCancelService.investmentDetailFormData.totalMonth" readonly>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-2">
                                                        <label>Commit. Dur.</label>

                                                    </div>
                                                    <div class="col-md-3">
                                                        <input class="form-control" [disabled]="isInvOther  " placeholder="Calender" name="commitmentFromDate" #commitmentFromDate="ngModel" [(ngModel)]="investmentCancelService.investmentDetailFormData.commitmentFromDate" [class.invalid]="commitmentFromDate.invalid && commitmentFromDate.touched"
                                                            [bsValue]="bsValue" bsDatepicker [bsConfig]="bsConfig">
                                                    </div>
                                                    <div class="col-md-3">
                                                        <input class="form-control" [disabled]="isInvOther  " placeholder="Calender" name="commitmentToDate" #commitmentToDate="ngModel" [(ngModel)]="investmentCancelService.investmentDetailFormData.commitmentToDate" [class.invalid]="commitmentToDate.invalid && commitmentToDate.touched"
                                                            [bsValue]="bsValue" bsDatepicker [bsConfig]="bsConfig">

                                                    </div>
                                                    <div class="col-md-2">
                                                        <label>Com. Tot. Mon.</label>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <input class="form-control" placeholder="Total Month" name="commitmentTotalMonth" id="commitmentTotalMonth" #commitmentTotalMonth="ngModel" [(ngModel)]="investmentCancelService.investmentDetailFormData.commitmentTotalMonth" readonly>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-2">
                                                        <label>Commitment:</label>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <label>All SBU </label>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <input class="form-control" [disabled]="isInvOther  " name="commitmentAllSBU" id="commitmentAllSBU" #commitmentAllSBU="ngModel" [(ngModel)]="investmentCancelService.investmentDetailFormData.commitmentAllSBU" [pattern]="numberPattern">
                                                        <div class="invalid-feedback" *ngIf="commitmentAllSBU.errors?.pattern">Only numeric value</div>
                                                    </div>
                                                    <div class="col-md-1">
                                                        <label>%/</label>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <label>Own SBU</label>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <input class="form-control" [disabled]="isInvOther  " name="commitmentOwnSBU" id="commitmentOwnSBU" #commitmentOwnSBU="ngModel" [(ngModel)]="investmentCancelService.investmentDetailFormData.commitmentOwnSBU" [pattern]="numberPattern">
                                                        <div class="invalid-feedback" *ngIf="commitmentOwnSBU.errors?.pattern">Only numeric value</div>
                                                    </div>
                                                    <div class="col-md-1">
                                                        <label>%</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-2">
                                                        <label>Pay. Method</label>
                                                    </div>
                                                    <div class="col-md-10">
                                                        <select class="form-control" [disabled]="isInvOther  " name="paymentMethod" id="paymentMethod" #paymentMethod="ngModel" [(ngModel)]="investmentCancelService.investmentDetailFormData.paymentMethod">
                                                            <option value="Cash">Cash</option>
                                                            <option value="Cheque">Cheque</option>
                                                            <option value="DD">DD</option>
                                                            <option value="TT">TT</option>
                                                            <option value="PO">PO</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-2">
                                                        <label>Cheque Title</label>
                                                    </div>
                                                    <div class="col-md-10">
                                                        <input class="form-control" maxlength="100" [disabled]="isInvOther  " placeholder="Cheque Title" name="chequeTitle" id="chequeTitle" #chequeTitle="ngModel" [(ngModel)]="investmentCancelService.investmentDetailFormData.chequeTitle">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <!-- <h6 class=""><strong>Investment Details</strong></h6> -->
                                        </div>
                                        <div class="col-sm-2"></div>
                                        <div class="col-sm-2" *ngIf="isValid && !isInvOther">
                                            <button class="btn btn-success btn-lg btn-block" type="button" (click)="insertInvestmentDetails()"><i class="fa fa-save"></i>&nbsp; Save</button>
                                        </div>
                                        <!-- <div class="col-sm-2" *ngIf="isValid">
                                            <button class="btn btn-danger btn-lg btn-block" type="button" (click)="removeInvestmentBcds()"><i class="fa fa-trash"></i>&nbsp; Remove</button>
                                        </div> -->
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <div class="form-group">
                                    <legend><strong>Targeted Products of SBU</strong></legend>
                                    <!-- <div class="row">
                                        <div class="col-sm-6">
                                            <h6 class=""><strong>Targeted Products of SBU</strong></h6>
                                        </div>
                                        <div class="col-sm-2"></div>
                                    </div> -->
                                </div>
                                <!-- <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <label>Product</label>
                                        </div>
                                        <div class="col-md-3">
                                            <ng-select [virtualScroll]="true" [items]="products" bindLabel="productName" bindValue="id" placeholder="Select Product" id="productId" name="productId" #productId="ngModel" [(ngModel)]="investmentCancelService.investmentTargetedProdFormData.productId"
                                                [class.invalid]="productId.invalid && productId.touched">
                                            </ng-select>
                                        </div>
                                        <div class="col-md-3"></div>
                                        <div class="col-md-2" *ngIf="isValid">
                                            <button class="btn btn-primary btn-lg btn-block" type="button" (click)="insertInvestmentTargetedProd()"><i class="fa fa-plus"></i>&nbsp; Add</button>
                                        </div>
                                    </div>
                                </div> -->
                                <div class="form-group">
                                    <table class="table  table-bordered">
                                        <tr class="HeaderRow">
                                            <td>Product Name</td>
                                            <td>SBU</td>
                                        </tr>
                                        <tr *ngFor="let a of investmentTargetedProds">
                                            <td>
                                                {{a.productInfo.productName}}
                                            </td>
                                            <td>
                                                {{a.productInfo.sbuName}}
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </fieldset>
                            <fieldset disabled>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <h6 class=" "><strong>Recommended By List </strong></h6>
                                        </div>
                                        <div class="col-sm-2"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <table class="table  table-bordered">
                                        <tr class="HeaderRow">
                                            <td>Employee Name</td>
                                            <td>Market Code</td>
                                            <td>Market Name</td>
                                            <td>Territory Code</td>
                                            <td>Territory Name</td>
                                            <td>Region Code</td>
                                            <td>Region Name</td>
                                            <td>Zone Code</td>
                                            <td>Zone Name</td>
                                            <td>Status</td>
                                            <td>Comments</td>
                                        </tr>
                                        <tr *ngFor="let a of empLocation">
                                            <td>
                                                {{a.employeeName}}
                                            </td>
                                            <!-- <td>
                                                {{a.priority}}
                                            </td> -->
                                            <td>
                                                {{a.marketCode}}
                                            </td>
                                            <td>
                                                {{a.marketName}}
                                            </td>
                                            <td>
                                                {{a.territoryCode}}
                                            </td>
                                            <td>
                                                {{a.territoryName}}
                                            </td>
                                            <td>
                                                {{a.regionCode}}
                                            </td>
                                            <td>
                                                {{a.regionName}}
                                            </td>
                                            <td>
                                                {{a.zoneCode}}
                                            </td>
                                            <td>
                                                {{a.zoneName}}
                                            </td>
                                            <td>
                                                {{a.recStatus}}
                                            </td>
                                            <td>
                                                {{a.comments}}
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </fieldset>
                            <fieldset>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <h6 class=" "><strong>Approval Detail</strong></h6>
                                        </div>
                                        <div class="col-sm-2"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <table class="table  table-bordered">
                                        <tr class="HeaderRow">
                                            <td>Month</td>
                                            <td>Year</td>
                                            <td>Amount</td>
                                            <td>Pay. Ref No</td>
                                            <td></td>

                                        </tr>
                                        <tr *ngFor="let a of apprDetail">
                                            <td>
                                                {{a.month}}
                                            </td>
                                            <td>
                                                {{a.year}}
                                            </td>
                                            <td>
                                                {{a.approvedAmount}}
                                            </td>
                                            <td>
                                                {{a.paymentRefNo}}
                                            </td>
                                            <td>
                                                <!-- <input type="button" (click)="removeInvestmentDetail(a)" value="Remove"> -->
                                                <button class="btn btn-danger btn-block" type="button" (click)="removeInvestmentDetail(a)"><i class="fa fa-trash"></i>&nbsp; Remove</button>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </fieldset>
                            <fieldset disabled>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <h6 class=" "><strong>Receive Status</strong></h6>
                                        </div>
                                        <div class="col-sm-2"></div>
                                    </div>
                                </div>
                                <!-- <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <label>Receiving Status</label>
                                        </div>
                                        <div class="col-md-3">
                                            <select class="form-control" id="receiveStatus" name="receiveStatus" #receiveStatus="ngModel" [(ngModel)]="investmentCancelService.investmentRcvCommentFormData.receiveStatus" [class.invalid]="receiveStatus.invalid && receiveStatus.touched" required>  
                                                <option  [ngValue]="null">Pending</option>
                                                <option  value="Received">Received</option>
                                                <option  value="Not Received">Not Received</option>
                                                </select>
                                        </div>
                                        <div class="col-md-2">
                                            <label>Comments</label>
                                        </div>
                                        <div class="col-md-3">
                                            <input class="form-control" name="comments" id="comments" #comments="ngModel" [(ngModel)]="investmentCancelService.investmentRcvCommentFormData.comments">
                                        </div>
                                    </div>
                                </div> -->
                                <div class="form-group">
                                    <table class="table  table-bordered">
                                        <tr class="HeaderRow">
                                            <td>Payment Reference No</td>
                                            <td>Receive Staus</td>
                                        </tr>
                                        <tr *ngFor="let a of investmentRcvList">
                                            <td>
                                                {{a.payRefNo}}
                                            </td>
                                            <td>
                                                {{a.receiveStatus}}
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
    <p style="color: black">Please Wait. </p>
</ngx-spinner>