<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <!-- form start -->
                <form [formGroup]="bgtEmployee">
                    <!-- general form elements -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-sm-11">
                                    <h3 class="card-title">Role Wise Budget Distribution</h3>
                                </div>

                                <div class="col-sm-1 ">
                                    <button class="btn btn-danger btn-block" (click)="reset()" type="button "><i class="fa fa-undo "></i>&nbsp; Reset</button>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body ">
                            <fieldset>

                                <div class="form-group ">
                                    <div class="row ">
                                        <div class="col-md-1 ">
                                            <label>Company Name</label>
                                        </div>
                                        <div class="col-md-3 ">
                                            <input class="form-control" value="Square Pharmaceuticals Ltd." readonly>
                                        </div>
                                        <div class="col-md-1 ">
                                            <label>Department  <div class="invalid-feedback" *ngIf="bgtEmployee.controls.deptId.errors?.required">*</div> </label>

                                        </div>
                                        <div class="col-md-3 ">
                                            <select class="form-control" id="deptId" formControlName="deptId" required>
                                        <option [ngValue]="null">Select Department</option>
                                        <option [ngValue]="1">Sales</option>
                                        <option [ngValue]="2">PMD</option>
                                    </select>

                                        </div>
                                        <div class="col-md-1 ">
                                            <label>SBU <div class="invalid-feedback" *ngIf="bgtEmployee.controls.sbu.errors?.required">*</div>  </label>
                                        </div>
                                        <div class="col-md-3 ">
                                            <select class="form-control" id="sbu" formControlName="sbu">
                                            <option *ngFor="let a of SBUs" [value]="a.sbuCode">{{a.sbuName}}</option>
                                        </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group ">
                                    <div class="row ">
                                        <div class="col-md-1 ">
                                            <label>Year <div class="invalid-feedback" *ngIf="bgtEmployee.controls.year.errors?.required">*</div>  </label>
                                        </div>
                                        <div class="col-md-3 ">
                                            <input class="form-control" id="year" name="year" placeholder="Select Year" formControlName="year" (onHidden)="getDeptSbuWiseBudgetAmt()" [bsValue]="bsValue" bsDatepicker [bsConfig]="{  containerClass: 'theme-blue', minMode:'year', adaptivePosition: true, dateInputFormat: 'YYYY' }">
                                        </div>
                                        <div class="col-md-1 ">
                                            <label>SBU Total Budget</label>
                                        </div>
                                        <div class="col-md-3 ">
                                            <input class="form-control" id="sbuTotalBudget" name="sbuTotalBudget" formControlName="sbuTotalBudget" readonly>
                                        </div>
                                        <div class="col-md-1 ">
                                            <label>Prev. Allocated</label>
                                        </div>
                                        <div class="col-md-3 ">
                                            <input class="form-control" id="prevAllocate" name="prevAllocate" formControlName="prevAllocate" readonly>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group ">
                                    <div class="row ">
                                        <div class="col-md-1 ">
                                            <label>Authorize Level<div class="invalid-feedback" *ngIf="bgtEmployee.controls.authId.errors?.required">*</div>  </label>
                                        </div>
                                        <div class="col-md-3 ">
                                            <select class="form-control" id="authId" formControlName="authId" (change)="getAuthPersonCount()">
                                            <option *ngFor="let a of approvalAuthorities" [value]="a.id">{{a.approvalAuthorityName}}</option>
                                        </select>
                                        </div>
                                        <div class="col-md-1 ">
                                            <label>Total Person</label>
                                        </div>
                                        <div class="col-md-3 ">
                                            <input class="form-control" id="ttlPerson" name="ttlPerson" formControlName="ttlPerson" readonly>
                                        </div>

                                        <div class="col-md-1 ">
                                            <label>Total Amount</label>
                                        </div>
                                        <div class="col-md-3 ">
                                            <input class="form-control" id="ttlAmount" name="ttlAmount" formControlName="ttlAmount" [pattern]="numberPattern">
                                            <div class="invalid-feedback" *ngIf="bgtEmployee.controls.ttlAmount.errors?.pattern">Only numeric value</div>
                                        </div>


                                    </div>
                                </div>

                                <div class="form-group ">
                                    <div class="row ">

                                        <div class="col-md-1 ">
                                            <label>Segment <div class="invalid-feedback" *ngIf="bgtEmployee.controls.segment.errors?.required">*</div>  </label>
                                        </div>
                                        <div class="col-md-3 ">
                                            <select class="form-control" id="segment" formControlName="segment" (change)="getAllocatedAmount()" required>
                                        <option value="Monthly">Monthly</option>
                                        <option value="Yearly">Yearly</option>
                                    </select>
                                        </div>

                                        <div class="col-md-1 ">
                                            <label>Total Allocated</label>
                                        </div>
                                        <div class="col-md-3 ">
                                            <input class="form-control" id="ttlAllocate" name="ttlAllocate" formControlName="ttlAllocate" readonly>
                                        </div>

                                        <div class="col-md-1 ">
                                            <label>Remaining</label>
                                        </div>
                                        <div class="col-md-3 ">
                                            <input class="form-control" id="remaining" name="remaining" formControlName="remaining" style="color: red; font-weight: bold;" readonly>
                                        </div>

                                    </div>
                                </div>
                                <div class="form-group ">
                                    <div class="row ">
                                        <div class="col-md-2 ">
                                            <input type="checkbox" id="permEdit" formControlName="permEdit" value="1">
                                            <label for="permEdit"> Can Edit</label>
                                        </div>

                                        <div class="col-md-2 ">
                                            <input type="checkbox" id="permView" formControlName="permView" value="1">
                                            <label for="permView"> Can View</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group ">
                                    <div class="row ">
                                        <div class="col-md-10">
                                        </div>
                                        <div class="col-md-1">
                                            <button class="btn btn-info btn-block" [hidden]="btnShow" (click)="showDetails()" [disabled]="!bgtEmployee.valid" style=" text-shadow: 3em #000; "><i class="fa fa-save "></i>&nbsp; Add Details</button>
                                        </div>
                                        <div class="col-md-1">
                                            <button class="btn btn-success btn-block" (click)="insertbgtEmployee()" style=" text-shadow: 3em #000; "><i class="fa fa-save "></i>&nbsp; Save</button>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <br/>

                            <div [hidden]="valShow" style="background-color: cadetblue;">
                                <br/>
                                <div class="form-group ">
                                    <div class="row ">
                                        <div class="col-md-1 ">
                                            <label>Donation</label>
                                        </div>
                                        <div class="col-md-3 ">
                                            <select class="form-control" id="donationId" formControlName="donationId">
                                            <option *ngFor="let a of donations" [value]="a.id">{{a.donationTypeName}}</option>
                                        </select>
                                        </div>

                                        <div class="col-md-1 ">
                                            <label>Amount</label>
                                        </div>
                                        <div class="col-md-3 ">
                                            <input class="form-control" id="donationAmt" formControlName="donationAmt" [pattern]="numberPattern">
                                            <div class="invalid-feedback" *ngIf="bgtEmployee.controls.donationAmt.errors?.pattern">Only numeric value</div>
                                        </div>
                                        <div class="col-md-1 ">
                                            <label>Trans Limit</label>
                                        </div>
                                        <div class="col-md-3 ">
                                            <input class="form-control" id="transLimit" formControlName="transLimit" [pattern]="numberPattern">
                                            <div class="invalid-feedback" *ngIf="bgtEmployee.controls.transLimit.errors?.pattern">Only numeric value</div>
                                        </div>

                                    </div>
                                </div>
                                <div class="form-group ">
                                    <div class="row ">
                                        <div class="col-md-10">
                                        </div>
                                        <div class="col-md-2">
                                            <button class="btn btn-success btn-block" (click)="insertBgtOwn()" style=" text-shadow: 3em #000; "><i class="fa fa-save "></i>&nbsp; Save Details</button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- /.card -->
                    </div>
                </form>
            </div>
            <!-- /.row -->
        </div>
    </div>


    <!-- /.container-fluid -->
</section>



<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
    <p style="color: black">Please Wait. </p>
</ngx-spinner>