<style>
    .CellWithComment {
        position: relative;
    }
    
    .CellComment {
        visibility: hidden;
        width: auto;
        position: absolute;
        z-index: 100;
        text-align: Left;
        opacity: 0.4;
        transition: opacity 2s;
        border-radius: 6px;
        background-color: rgb(9, 242, 250);
        padding: 3px;
        top: -30px;
        left: 0px;
    }
    
    .CellWithComment:hover span.CellComment {
        visibility: visible;
        opacity: 1;
    }
</style>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <!-- form start -->
                <form [formGroup]="bgtEmployee">
                    <!-- general form elements -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-sm-11">
                                    <h3 class="card-title">Role Wise Budget Distribution</h3>
                                </div>

                                <div class="col-sm-1 ">
                                    <button class="btn btn-danger btn-block" (click)="reset()" type="button "><i class="fa fa-undo "></i>&nbsp; Reset</button>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body ">
                            <fieldset>

                                <div class="form-group ">
                                    <div class="row ">
                                        <div class="col-md-1 ">
                                            <label>Company Name</label>
                                        </div>
                                        <div class="col-md-3 ">
                                            <input class="form-control" value="Square Pharmaceuticals Ltd." readonly>
                                        </div>
                                        <div class="col-md-1 ">
                                            <label>Department  <div class="invalid-feedback" *ngIf="bgtEmployee.controls.deptId.errors?.required">*</div> </label>

                                        </div>
                                        <div class="col-md-3 ">
                                            <select class="form-control" id="deptId" formControlName="deptId" required>
                                        <option [ngValue]="null">Select Department</option>
                                        <option [ngValue]="1">Sales</option>
                                        <option [ngValue]="2">PMD</option>
                                    </select>

                                        </div>

                                        <div class="col-md-1 ">
                                            <label>Year <div class="invalid-feedback" *ngIf="bgtEmployee.controls.year.errors?.required">*</div>  </label>
                                        </div>
                                        <div class="col-md-3 ">
                                            <input class="form-control" id="year" name="year" placeholder="Select Year" formControlName="year" [bsValue]="bsValue" bsDatepicker [bsConfig]="{  containerClass: 'theme-blue', minMode:'year', adaptivePosition: true, dateInputFormat: 'YYYY' }">
                                        </div>

                                    </div>
                                </div>

                                <div class="form-group ">
                                    <div class="row ">
                                        <div class="col-md-1 ">
                                            <label>Authorize Level<div class="invalid-feedback" *ngIf="bgtEmployee.controls.authId.errors?.required">*</div>  </label>
                                        </div>
                                        <div class="col-md-3 ">
                                            <select class="form-control" id="authId" formControlName="authId">
                                            <option *ngFor="let a of approvalAuthorities" [value]="a.id">{{a.approvalAuthorityName+ ' - ' +  a.remarks}}</option>
                                        </select>
                                        </div>

                                        <div class="col-md-1 ">
                                            <label>Donation</label>
                                        </div>
                                        <div class="col-md-3 ">
                                            <select class="form-control" id="donationId" formControlName="donationId">
                                            <option *ngFor="let a of donations" [value]="a.id">{{a.donationTypeName}}</option>
                                        </select>
                                        </div>
                                        <div class="col-md-1 ">
                                            <label>Segment <div class="invalid-feedback" *ngIf="bgtEmployee.controls.segment.errors?.required">*</div>  </label>
                                        </div>
                                        <div class="col-md-3 ">
                                            <select class="form-control" id="segment" formControlName="segment" required>
                                        <option value="Monthly">Monthly</option>
                                        <option value="Yearly">Yearly</option>
                                    </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group ">
                                    <div class="row ">
                                        <div class="col-md-10">
                                        </div>

                                        <!-- <div class="col-md-1">
                                            <button class="btn btn-success btn-block" (click)="insertbgtEmployee()" style=" text-shadow: 3em #000; "><i class="fa fa-save "></i>&nbsp; Save</button>
                                        </div> -->

                                        <div class="col-md-2">
                                            <button class="btn btn-info btn-block" (click)="generateData()" style=" text-shadow: 3em #000; "><i class="fa fa-save "></i>&nbsp; Generate Data</button>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <br/>


                            <div class="form-group">
                                <table class="table  table-bordered">
                                    <tr class="HeaderRow">
                                        <td>SBU</td>
                                        <td>Auth Budget</td>
                                        <td>Auth Expense</td>
                                        <td>Authority</td>
                                        <td>Total Loc</td>
                                        <td>Total Appr.</td>
                                        <td style="width: 0;display:none; ">DonationId</td>
                                        <td>Total Allo.</td>
                                        <td>Inv. Type</td>
                                        <td>{{donationTypeName}} Allo.</td>
                                        <td>Amount / Person ({{bgtEmployee.controls.segment.value}})</td>
                                        <td>Limit / Transaction</td>
                                        <td>Segment</td>
                                        <td class="CellWithComment">New Allocated
                                            <span class="CellComment">"For Monthly = Total Person X Rest Month of the Year X Amount
                                                For Yearly = Total Person X Amount"</span>
                                        </td>
                                    </tr>
                                    <tr *ngFor="let a of sbuData; let index = index">
                                        <td>{{a.sbu}}</td>
                                        <td>
                                            {{a.sbuAmount | number}}
                                        </td>
                                        <td>
                                            {{a.expense | number}}
                                        </td>
                                        <td>
                                            {{a.approvalAuthorityName}}
                                        </td>
                                        <td>
                                            {{a.totalLoc}}
                                        </td>
                                        <td>
                                            {{a.totalPerson}}
                                        </td>
                                        <td style="width: 0;display:none; ">
                                            <!-- {{bgtEmployee.controls.donationId.value}} -->
                                            {{a.donationId}}
                                        </td>
                                        <td>
                                            {{a.totalAllocated | number}}
                                        </td>
                                        <td>
                                            {{donationTypeName}}
                                        </td>
                                        <td>
                                            {{a.donationTypeAllocated| number}}
                                        </td>
                                        <!-- <td>
                                            <input class="form-control" type="text" placeholder="Amount" name="{{a.amount}}" (change)="getTotal(a)" formControlName="grdAmount" id="sbuData" name="sbuData{{index}}" [(ngModel)]="sbuData[index].amount">
                                        </td>
                                        <td>
                                            <input class="form-control" type="text" placeholder="Limit" name="{{a.limit}}" formControlName="grdLimit" id="sbuData" name="sbuData{{index}}" [(ngModel)]="sbuData[index].limit">
                                        </td> -->

                                        <td>
                                            <input class="form-control ng-valid ng-touched ng-dirty" type="text" placeholder="Amount" [(ngModel)]="a.amount" [ngModelOptions]="{standalone: true}" (keyup)="getTotal(a)">
                                        </td>
                                        <td>
                                            <input class="form-control ng-valid ng-touched ng-dirty" type="text" placeholder="Limit" [(ngModel)]="a.limit" [ngModelOptions]="{standalone: true}">
                                        </td>
                                        <td>
                                            {{bgtEmployee.controls.segment.value}}
                                        </td>
                                        <td>
                                            {{a.ttlAmt | number}}
                                        </td>
                                    </tr>
                                </table>
                            </div>

                            <div class="form-group ">
                                <div class="row ">
                                    <div class="col-md-10">
                                    </div>

                                    <div class="col-md-2">
                                        <button class="btn btn-success btn-block" (click)="saveData()" [hidden]="btnShow" style=" text-shadow: 3em #000; "><i class="fa fa-save "></i>&nbsp; Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.card -->
                </form>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</section>

<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
    <p style="color: black">Please Wait. </p>
</ngx-spinner>