<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <form novalidate autocomplete="off">
                    <div class="card card-primary">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-sm-6">
                                    <h3 class="card-title">Doctor Honorarium Approval</h3>
                                </div>
                                <div class="col-sm-3">
                                    <button class="btn btn-success btn-lg btn-block" type="submit"><i class="fa fa-save"></i>&nbsp; Save</button>
                                </div>
                                <div class="col-sm-3">
                                    <button class="btn btn-info btn-lg btn-block"><i class="fa fa-search"></i>Search</button>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-2">
                                        <label>Month</label>
                                    </div>
                                    <div class="col-md-3">
                                        <!-- <input class="form-control" placeholder="Month" name="month" [bsValue]="bsValue" bsDatepicker [bsConfig]="bsConfig"> -->
                                        <input class="form-control" placeholder="Month" name="month">
                                    </div>
                                    <div class="col-md-2">
                                        <label>Year</label></div>
                                    <div class="col-md-3">
                                        <input class="form-control" placeholder="Calender" name="year">
                                    </div>
                                </div>
                            </div>
                            <fieldset>
                                <legend>All Doctor Honorarium</legend>
                                <div class="form-group">
                                    <table class="table  table-bordered">
                                        <tr>
                                            <td>SL</td>
                                            <td>Doctor Id</td>
                                            <td>Doctor Name</td>
                                            <td>Designation</td>
                                            <td>Amount</td>
                                            <td>Status</td>
                                        </tr>
                                        <tr *ngFor="let doctor of doctors">
                                            <td>
                                                {{doctor.slNo}}
                                            </td>
                                            <td>
                                                {{doctor.doctorId}}
                                            </td>
                                            <td>
                                                {{doctor.doctorName}}
                                            </td>
                                            <td>
                                                {{doctor.designation}}
                                            </td>
                                            <td>
                                                {{doctor.amount}}
                                            </td>
                                            <td>
                                                {{doctor.status}}
                                            </td>
                                            <td>
                                                Details
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </fieldset>
                            <fieldset>
                                <legend>Individual Doctor Honorarium</legend>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <label>Doctor Id</label>
                                        </div>
                                        <div class="col-md-3">
                                            <input class="form-control " name="doctorId" readonly>
                                        </div>
                                        <div class="col-md-2">
                                            <label>Doctor Name</label>
                                        </div>
                                        <div class="col-md-3">
                                            <input class="form-control " name="doctorName" readonly>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <label>Designation</label>
                                        </div>
                                        <div class="col-md-3">
                                            <input class="form-control " name="designation" readonly>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <table class="table  table-bordered">
                                        <tr>
                                            <td>SL</td>
                                            <td>Year</td>
                                            <td>Month</td>
                                            <td>Amount</td>
                                            <td>Status</td>
                                        </tr>
                                        <tr *ngFor="let doctor of doctors">
                                            <td>
                                                {{doctor.slNo}}
                                            </td>
                                            <td>
                                                {{doctor.year}}
                                            </td>
                                            <td>
                                                {{doctor.month}}
                                            </td>
                                            <td>
                                                {{doctor.amount}}
                                            </td>
                                            <td>
                                                {{doctor.status}}
                                            </td>
                                            <td>
                                                Details
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>