<style>
    @media screen and (min-width: 0px) and (max-width: 450px) {
        #longHead {
            display: none;
        }
    }
    
    @media screen and (min-width: 450px) and (max-width: 4000px) {
        #shortHead {
            display: none;
        }
    }
</style>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <form novalidate autocomplete="off" #investmentInitForm="ngForm">
                    <div class="card card-primary">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-sm-8">
                                    <h3 class="card-title">Investment Rapid</h3>
                                </div>

                                <div class="col-sm-1">
                                    <button class="btn btn-success btn-lg btn-block" type="submit" [disabled]="investmentInitForm.invalid" (click)="confirmSubmission()"><i class="fa fa-save"></i>&nbsp; Save</button>
                                </div>
                                <div class="col-sm-1">
                                    <button class="btn btn-info btn-lg btn-block" type="button" (click)="getInvestmentRapid(null)"><i class="fa fa-search" ></i>Search</button>
                                </div>
                                <div class="col-sm-1">
                                    <button class="btn btn-danger btn-lg btn-block" type="button" (click)="resetPageLoad()"><i class="fa fa-undo"></i>Reset</button>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-1">
                                        <label style="float: right">Propose For</label>
                                        <span style="color:red;">*</span>
                                    </div>
                                    <div class="col-md-2">

                                        <select class="form-control" name="ProposeFor" required [(ngModel)]="investmentFormService.investmentFormData.proposeFor" (change)="ChangeProposeFor()">
                                            <option  [ngValue]="null">Select Propose For</option>
                                            <option value="Sales">Sales</option>
                                            <option value="PMD">PMD</option>
                                            <option value="Others Rapid">Others</option>
                                        </select>
                                    </div>
                                    <div class="col-md-1">
                                        <label>SBU</label>
                                        <span style="color:red;">*</span>
                                    </div>
                                    <div class="col-md-2">
                                        <select class="form-control " id="sbu" name="sbu" #sbu="ngModel" (change)="ChangeSBU()" [(ngModel)]="investmentFormService.investmentFormData.sbu" required [class.invalid]="sbu.invalid && sbu.touched">
                                            <option  [ngValue]="null">Select SBU</option>
                                            <option *ngFor="let a of SBUs" [value]="a.sbuCode">{{a.sbuName}}</option>
                                        </select>
                                    </div>
                                    <div class="col-md-1">
                                        <label>Type</label>
                                        <span style="color:red;">*</span>
                                    </div>
                                    <div class="col-md-2">
                                        <select class="form-control" [disabled]="isInvOther && !isAdmin" id="donationId" name="Type" #donationId="ngModel" [(ngModel)]="investmentFormService.investmentFormData.type" required [class.invalid]="donationId.invalid && donationId.touched">
                                            <option  [ngValue]="null">Select Donation Type</option>
                                            <option *ngFor="let a of donations" [value]="a.id">{{a.donationTypeName}}</option>
                                            <!-- <option value="Donation">Donation</option>
                                            <option value="Gift">Gift</option>
                                            <option value="Honorarium">Honorarium</option> -->
                                        </select>
                                    </div>
                                    <div class="col-md-1">
                                        <label>Reference</label>
                                    </div>
                                    <div class="col-md-2">
                                        <input class="form-control" id="id" name="id" #id="ngModel" [(ngModel)]="investmentFormService.investmentFormData.id" readonly style="display: none;">
                                        <input class="form-control" placeholder="Auto Generated" id="referenceNo" name="referenceNo" #referenceNo="ngModel" [(ngModel)]="investmentFormService.investmentFormData.referenceNo" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" *ngIf="investmentFormService.investmentFormData.proposeFor=='PMD'">
                                <div class="row">
                                    <div class="col-md-1">
                                        <label>Campaign</label>
                                        <span style="color:red;">*</span>
                                    </div>
                                    <div class="col-md-2">
                                        <select class="form-control" [disabled]="isInvOther && !isAdmin" id="subCampaignId" (change)="onChangeSubCampaignInCamp()" name="subCampaignId" [(ngModel)]="investmentFormService.investmentFormData.subCampaignId" required>
                                            <option  [ngValue]="0">Select Campaign Name</option>
                                            <option *ngFor="let a of subCampaignRapid" [value]="a.subCampId">{{a.subCampaignName}}</option>
                                            <!-- <option value="Donation">Donation</option>
                                            <option value="Gift">Gift</option>
                                            <option value="Honorarium">Honorarium</option> -->
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <fieldset>
                                <div class="form-group">
                                    <legend>Investment Details</legend>
                                </div>
                                <!-- <legend>Investment Details</legend> -->
                                <div class="form-group">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-1">
                                                <label>Proposal Date</label>
                                                <span style="color:red;">*</span>
                                            </div>
                                            <div class="col-md-2">
                                                <input class="form-control" placeholder="Proposal Date" name="proposalDateStr" [(ngModel)]="investmentFormService.investmentFormData.proposalDateStr" readonly>
                                            </div>

                                            <div class="col-md-1">
                                                <label>To Whom</label>
                                                <span style="color:red;">*</span>
                                            </div>
                                            <div class="col-md-2">
                                                <input class="form-control" required placeholder="To Whom" name="donationTo" id="donationTo" [(ngModel)]="investmentFormService.investmentFormData.donationTo">
                                            </div>
                                            <div class="col-md-1">
                                                <label>Address </label>
                                            </div>
                                            <div class="col-md-4">
                                                <textarea id="address" class="form-control" rows="1" cols="60" [(ngModel)]="investmentFormService.investmentFormData.address" name="address">

                                                </textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <fieldset *ngIf="investmentFormService.investmentFormData.type=='4'">
                                        <div>

                                            <legend>Add Donated Medicine</legend>


                                            <div class="row">
                                                <div class="col-md-1">
                                                    <label>Product</label>
                                                </div>
                                                <div class="col-md-3">
                                                    <ng-select [virtualScroll]="true" [items]="medicineProducts" bindLabel="productName" bindValue="id" placeholder="Select Product" id="productId" name="productId" #productId="ngModel" (change)="onChangeProduct()" [(ngModel)]="investmentFormService.investmentMedicineProdFormData.productId"
                                                        [class.invalid]="productId.invalid && productId.touched">
                                                    </ng-select>
                                                </div>
                                                <div class="col-md-1">
                                                    <label>Quantity</label>
                                                </div>
                                                <div class="col-md-2">
                                                    <input class="form-control" placeholder="Box Quantity" name="boxQuantity" id="boxQuantity" #boxQuantity="ngModel" [(ngModel)]="investmentFormService.investmentMedicineProdFormData.boxQuantity" [pattern]="numberPattern">
                                                    <div class="invalid-feedback" *ngIf="boxQuantity.errors?.pattern">Only numeric value</div>
                                                </div>
                                                <div class="col-md-2">
                                                    <button class="btn btn-primary btn-lg btn-block" type="button" (click)="insertInvestmentMedicineProd()"><i class="fa fa-plus"></i>&nbsp; Add</button>
                                                </div>
                                            </div>


                                            <table class="table table-bordered" style="margin-top: 20px;">
                                                <tr class="HeaderRow">
                                                    <td>Product Name</td>
                                                    <td>Box Quantity</td>
                                                    <td>TP Vat</td>
                                                    <td></td>
                                                </tr>
                                                <tr *ngFor="let a of investmentMedicineProds">
                                                    <td>
                                                        {{a.medicineProduct.productName}}
                                                    </td>
                                                    <td>
                                                        {{a.boxQuantity}}
                                                    </td>
                                                    <td>
                                                        {{a.tpVat}}
                                                    </td>
                                                    <td>
                                                        <input type="button" (click)="removeInvestmentMedicineProd(a)" value="Remove">
                                                    </td>
                                                </tr>
                                            </table>

                                        </div>
                                    </fieldset>

                                    <div class="form-group" style="margin-top: 20px;">
                                        <div class="row">
                                            <div class="col-md-1">
                                                <label>Amount</label>

                                            </div>
                                            <div class="col-md-4">
                                                <input class="form-control" [disabled]="investmentFormService.investmentFormData.type=='4'" placeholder="Amount" name="proposedAmount" id="proposedAmount" #proposedAmount="ngModel" [(ngModel)]="investmentFormService.investmentFormData.proposedAmount"
                                                    [pattern]="numberPattern">
                                                <div class="invalid-feedback" *ngIf="proposedAmount.errors?.pattern">Only numeric value</div>
                                            </div>
                                            <div class="col-md-2">
                                                <label>Pay. Method</label>
                                                <span style="color:red;">*</span>
                                            </div>
                                            <div class="col-md-4">
                                                <select *ngIf="investmentFormService.investmentFormData.type !='4'" (change)="onChangePayMethod()" required class="form-control" [disabled]="isInvOther && !isAdmin" name="paymentMethod" id="paymentMethod" #paymentMethod="ngModel" [(ngModel)]="investmentFormService.investmentFormData.paymentMethod">
                                                
                                                    <option  [ngValue]="null">Select Payment Method</option>
                                                    <option value="Cash">Cash</option>
                                                    <option value="Cheque">Cheque</option>
                                                    <option value="DD">DD</option>
                                                    <option value="TT">TT</option>
                                                    <option value="PO">PO</option>
                                                </select>
                                                <select *ngIf="investmentFormService.investmentFormData.type =='4'" class="form-control" [disabled]="isInvOther && !isAdmin" name="paymentMethod" id="paymentMethod" #paymentMethod="ngModel" [(ngModel)]="investmentFormService.investmentFormData.paymentMethod">
                                            
                                                    <option  [ngValue]="null">Select Payment Method</option>
                                                    <option value="Cash">Cash</option>
                                                </select>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-1">
                                                <label>Remarks</label>
                                            </div>
                                            <div class="col-md-4">
                                                <input class="form-control" placeholder="Remarks" name="Remarks" id="Remarks" [(ngModel)]="investmentFormService.investmentFormData.remarks">
                                            </div>
                                            <div class="col-md-2">
                                                <label>Cheque Title</label>
                                                <span style="color:red;">*</span>
                                            </div>
                                            <div class="col-md-4">
                                                <input class="form-control" maxlength="100" [disabled]="investmentFormService.investmentFormData.paymentMethod !='Cheque'" placeholder="Cheque Title" name="chequeTitle" id="chequeTitle" #chequeTitle="ngModel" [(ngModel)]="investmentFormService.investmentFormData.chequeTitle">
                                            </div>

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-1">
                                                <label>Depot </label>
                                            </div>
                                            <div class="col-md-4">
                                                <ng-select [virtualScroll]="true" [disabled]="investmentFormService.investmentFormData.paymentMethod !='Cash'" [items]="depots" bindLabel="depotName" bindValue="depotCode" placeholder="Select Depot" name="depotCode" id="depotCode" #depotCode="ngModel"
                                                    [(ngModel)]="investmentFormService.investmentFormData.depotCode">
                                                </ng-select>
                                            </div>

                                            <div class="col-md-2">
                                                <label>Approved Authority</label>
                                            </div>
                                            <div class="col-md-4">
                                                <ng-select [virtualScroll]="true" [items]="employees" bindLabel="employeeName" bindValue="id" placeholder="Select" [searchFn]="customSearchFn" name="ApprovalAuthId" #employeeId="ngModel" [(ngModel)]="investmentFormService.investmentFormData.approvalAuthId"
                                                    required [class.invalid]="employeeId.invalid && employeeId.touched">
                                                    <ng-template ng-label-tmp let-item="item">
                                                        <span [ngOptionHighlight]="search">{{ item.employeeSAPCode }} - {{ item.employeeName }}</span>
                                                    </ng-template>

                                                    <ng-template ng-option-tmp let-item="item" let-search="searchTerm" let-index="index">
                                                        <span [ngOptionHighlight]="search">{{ item.employeeSAPCode }} - {{ item.employeeName }}</span>
                                                    </ng-template>
                                                </ng-select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>

                            <fieldset>
                                <div class="form-group">
                                    <legend>Targeted Products of SBU</legend>
                                    <!-- <div class="row">
                                        <div class="col-sm-6">
                                            <h6 class=""><strong>Targeted Products of SBU</strong></h6>
                                        </div>
                                        <div class="col-sm-2"></div>
                                    </div> -->
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <label>Brand</label>
                                        </div>
                                        <div class="col-md-3">
                                            <!-- <select class="form-control " id="brandCode" name="brandCode" [(ngModel)]="brandCode" (change)="getProductByBrand()" [disabled]="isBrandDisable">
                                                <option  [ngValue]="null">Select Brand</option>
                                                <option *ngFor="let brand of brands" [value]="brand.brandCode">{{brand.brandName}}</option>
                                            </select> -->
                                            <ng-select [virtualScroll]="true" [items]="brands" bindLabel="brandName" bindValue="brandCode" placeholder="Select Brand" (change)="getProductByBrand()" id="brandCode" name="brandCode" [(ngModel)]="brandCode" [disabled]="isBrandDisable">
                                            </ng-select>
                                        </div>
                                        <div class="col-md-1">
                                            <label>Product</label>
                                        </div>
                                        <div class="col-md-3">
                                            <ng-select [virtualScroll]="true" [items]="products" bindLabel="productName" bindValue="id" placeholder="Select Product" id="productId" (change)="onChangeTargetedProduct()" name="productId" #productId="ngModel" [(ngModel)]="investmentFormService.investmentTargetedProdFormData.productId"
                                                [class.invalid]="productId.invalid && productId.touched" [disabled]="isProdDisable">
                                            </ng-select>
                                        </div>
                                        <div class="col-md-2">
                                            <button class="btn btn-primary btn-lg btn-block" type="button" (click)="insertInvestmentTargetedProd()"><i class="fa fa-plus"></i>&nbsp; Add</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <table class="table table-bordered">
                                        <tr class="HeaderRow">
                                            <!-- <td>Product Code</td> -->
                                            <td>Product Name</td>
                                            <td>SBU</td>
                                            <!-- <td></td> -->
                                            <td></td>
                                        </tr>
                                        <tr *ngFor="let a of investmentTargetedProds">
                                            <!-- <td>
                                                {{a.productInfo.productCode}}
                                            </td> -->
                                            <td>
                                                {{a.productInfo.productName}}
                                            </td>
                                            <td>
                                                {{a.productInfo.sbuName}}
                                            </td>
                                            <!-- <td>
                                                <input type="button" *ngIf="sbu==a.sbu" (click)="editInvestmentTargetedProd(a)" value="Edit">
                                            </td> -->
                                            <td>
                                                <input type="button" *ngIf="investmentFormService.investmentFormData.sbu==a.sbu" (click)="removeInvestmentTargetedProd(a)" value="Remove">
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<ng-template #investmentRapidSearchModal>
    <div class="modal-header" style="background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #28b9da), color-stop(1, #f9fafc));color: black;">
        <h4 class="modal-title pull-left">Investment Initialization</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="InvestmentInitSearchModalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body" style="padding: 20px 30px 20px 30px;">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-2">
                        </div>
                        <div class="col-md-6">
                            <input name="filterText" class="form-control m-input Searchbox" type="text" [(ngModel)]="searchText" placeholder="Search..">
                        </div>
                        <div class="col-md-3">
                            <button class="btn btn-danger" type="button" (click)="resetSearch()"><i class="fa fa-undo"></i>&nbsp; Reset</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive" style="border: 1px solid #bed2c9; width: 100%;">
                            <table class="table table-bordered table-responsive table-hover table-striped">
                                <thead style="background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #28b9da), color-stop(1, #f9fafc));">
                                    <tr class="HeaderRow">
                                        <th scope="col" style="width: 7%">Action</th>
                                        <th scope="col" style="width: 0;display:none;">Id</th>
                                        <th scope="col" style="width: 9%">Reference No</th>
                                        <th scope="col" style="width: 4%">Propose For</th>
                                        <th scope="col" style="width: 4%">Donation To</th>
                                        <th scope="col" style="width: 8%">Proposal Date</th>
                                        <th scope="col" style="width: 8%">Propose Type</th>
                                        <th scope="col" style="width: 8%">Amount</th>
                                        <th scope="col" style="width: 14%">Pay Method</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- <tr *ngFor="let a of investmentInits | paginate: configs | filter: searchText"> -->
                                    <tr *ngFor="let a of investmentForms  | filter: searchText">
                                        <td>
                                            <button class="btn btn-sm btn-embossed btn-success" (click)="selectInvestmentRapid(a)"><i class="fa fa-check" aria-hidden="true"></i>Select</button>

                                        </td>
                                        <td style="display:none;">{{a.id}}</td>
                                        <td>{{a.referenceNo}}</td>
                                        <td>{{a.proposeFor}}</td>
                                        <td>{{a.donationTo}}</td>
                                        <td>{{a.propsalDate | date:'dd/MM/YYYY'}}</td>
                                        <td>{{a.donationTypeName}}</td>
                                        <td>{{a.proposedAmount}}</td>
                                        <td>{{a.paymentMethod}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <!-- <pagination-controls (pageChange)="onPageChanged($event)" class="my-pagination"></pagination-controls> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>
<ng-template #submissionConfirmModal style="bottom: -50px;">
    <div class="modal-body text-center">
        <div>
            <h4>Do you want to save ?</h4><small>(N.B. Save Proposal Unchangeable!)</small>
        </div>
        <button type="button" class="btn btn-success" (click)="confirmSubmit()">Yes</button>
        <button type="button" class="btn btn-danger" (click)="declineSubmit()">No</button>
    </div>
</ng-template>

<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
    <p style="color: black">Please Wait. </p>
</ngx-spinner>