<!-- Main Sidebar Container -->
<aside class="main-sidebar elevation-4 sidebar-dark-success">
    <!-- Brand Logo -->
    <a routerLink="/" class="brand-link">
        <img src="/assets/adminlte/dist/img/AdminLTELogo.png" alt="User Self-Desk" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">DIDS</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user (optional) -->
        <!-- <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="/assets/adminlte/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">
        <a routerLink="#" class="d-block">Rijwan Ansari</a>
      </div>
    </div> -->

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column text-sm nav-legacy nav-flat" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
                <li class="nav-item">
                    <a href="/portal/home" class="nav-link">
                        <i class="nav-icon fas fa-home"></i>
                        <p>
                            Home
                        </p>
                    </a>
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-user"></i>
                        <p>
                            Master

                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item" routerLinkActive="active">
                            <a routerLink="/portal/master/donation" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Donation</p>

                            </a>
                        </li>
                        <li class="nav-item" routerLinkActive="active">
                            <a routerLink="/portal/master/subCampaign" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Sub Campaign</p>

                            </a>
                        </li>
                        <li class="nav-item" routerLinkActive="active">
                            <a routerLink="/portal/master/campaign" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Campaign</p>

                            </a>
                        </li>
                        <li class="nav-item" routerLinkActive="active">
                            <a routerLink="/portal/master/bcds-info" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Bcds Info</p>

                            </a>
                        </li>
                        <!-- <li class="nav-item" routerLinkActive="active">
                            <a routerLink="/portal/master/employee-info" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Employee Info</p>

                            </a>
                        </li> -->
                        <li class="nav-item" routerLinkActive="active">
                            <a routerLink="/portal/master/society-info" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Society Info</p>
                            </a>
                        </li>
                        <li class="nav-item" routerLinkActive="active">
                            <a routerLink="/portal/master/approvalAuthority" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Approval Authority</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-user"></i>
                        <p>
                            Transaction
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item" routerLinkActive="active">
                            <a routerLink="/portal/regApproval" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Registration Approval</p>
                            </a>
                        </li>
                        <li class="nav-item" routerLinkActive="active">
                            <a routerLink="/portal/marketGroup" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Market Group</p>
                            </a>
                        </li>
                        <li class="nav-item" routerLinkActive="active">
                            <a routerLink="/portal/sbu-wise-budget" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>SBU Wise Budget</p>
                            </a>
                        </li>
                        <li class="nav-item" routerLinkActive="active">
                            <a routerLink="/portal/apprAuthConfig" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Approval Authority Config</p>
                            </a>
                        </li>
                        <li class="nav-item" routerLinkActive="active">
                            <a routerLink="/portal/approval-ceiling" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Approval Ceiling</p>
                            </a>
                        </li>
                        <li class="nav-item" routerLinkActive="active">
                            <a routerLink="/portal/approval-time-limit" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Approval Time Limit</p>

                            </a>
                        </li>
                        <li class="nav-item" routerLinkActive="active">
                            <a routerLink="/portal/investmentInit" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Investment Initialization</p>
                            </a>
                        </li>
                        <li class="nav-item" routerLinkActive="active">
                            <a routerLink="/portal/investmentRec" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Investment Recomendation</p>
                            </a>
                        </li>
                        <li class="nav-item" routerLinkActive="active">
                            <a routerLink="/portal/investmentApr" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Investment Approval</p>
                            </a>
                        </li>
                        <li class="nav-item" routerLinkActive="active">
                            <a routerLink="/portal/docHonAppr" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Doctor Honorarium Approval</p>
                            </a>
                        </li>
                    </ul>
                </li>



                <!-- <li class="nav-header">MULTI LEVEL EXAMPLE</li>
                <li class="nav-item has-treeview">
                    <a routerLink="#" class="nav-link">
                        <i class="nav-icon fas fa-circle"></i>
                        <p>
                            Level 1
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a routerLink="#" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Level 2</p>
                            </a>
                        </li>
                        <li class="nav-item has-treeview">
                            <a routerLink="#" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>
                                    Level 2
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a routerLink="#" class="nav-link">
                                        <i class="far fa-dot-circle nav-icon"></i>
                                        <p>Level 3</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a routerLink="#" class="nav-link">
                                        <i class="far fa-dot-circle nav-icon"></i>
                                        <p>Level 3</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a routerLink="#" class="nav-link">
                                        <i class="far fa-dot-circle nav-icon"></i>
                                        <p>Level 3</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a routerLink="#" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Level 2</p>
                            </a>
                        </li>
                    </ul>
                </li> -->



            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>